In [ ]:
# some functions
print("Please input your name:")

nStr=input() # return or result in or prduce a string

print('Please input your age:')
ageStr =input() # it is a string

# convert string into integer
ageInt=int(ageStr)

newAgeInt = ageInt+1 # age after one year

inforStr = "The name is "+nStr +". " + "The currrent age is "+ageStr+". "+ 'The new age is ' +str(newAgeInt) # This is one line.

print(inforStr)

Please input your name:
Xinglong
Please input your age:
30
The name is Xinglong. The currrent age is 30. The new age is 31

In [ ]:
# data type (B)
# integer: 0 1 2 -10 (4B)
# float/double: 1.2 -3.6 0.0 (8B)
# boolean: True False (1B)
# string: "str" '1.2'

In [ ]:
# = assignment operator
# arithmatic operators: + - * / **
r1 = 4**2
print(r1)

16

In [ ]:
print("3"**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
# data type conversion
# int()
# float()
# str()
r2=int("3") # write
print(r2**2)

9

In [ ]:
# f"" string format function: produce string
# \t \n
a1=20
g1=0.966
w1=136.6
n1="Aiden"
i1=f"Name {n1}.\n\tWeight {w1:.4f} lbs\nGrade{g1:.2%}"
print(i1)

Name Aiden.
	Weight 136.6000 lbs
Grade96.60%

In [ ]:
# input() result in a string
print("Input the cur balance:")
r1=input()
r2=float(r1)
print(r2*1.1)

Input the cur balance:
100
110.00000000000001