In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L22"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L22

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L22'

In [ ]:
%ls

City.db  L22_LCP.ipynb

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 2.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 3.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 6.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.5/138.5 kB 2.7 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
# Connect to SQLite database
%sql sqlite:///City.db

Connecting to 'sqlite:///City.db'

In [ ]:
# Show tables
%sqlcmd tables

+------+
| Name |
+------+
| data |
+------+

In [ ]:
# Show columns in a table
%sqlcmd columns -t data

+------------+---------+----------+---------+-------------+
|    name    |   type  | nullable | default | primary_key |
+------------+---------+----------+---------+-------------+
|     ID     | INTEGER |  False   |   None  |      1      |
|    City    |   TEXT  |   True   |   None  |      0      |
|   State    |   TEXT  |   True   |   None  |      0      |
| Population | INTEGER |   True   |   None  |      0      |
|    lat     |   REAL  |   True   |   None  |      0      |
|    lon     |   REAL  |   True   |   None  |      0      |
+------------+---------+----------+---------+-------------+

In [ ]:
# we get all cities with Population greater than 1 million
%%sql
select *
from data
where Population>1000000
;

Running query in 'sqlite:///City.db'

+-----+--------------+--------------+------------+------------+---------------------+
|  ID |     City     |    State     | Population |    lat     |         lon         |
+-----+--------------+--------------+------------+------------+---------------------+
|  54 | Philadelphia | Pennsylvania |  1553165   | 39.9525839 |     -75.1652215     |
|  60 |    Dallas    |    Texas     |  1257676   | 32.7766642 |     -96.7969879     |
| 154 | San Antonio  |    Texas     |  1409019   | 29.4241219 |     -98.4936282     |
| 334 |  San Diego   |  California  |  1355896   | 32.715738  |     -117.1610838    |
| 595 |   Chicago    |   Illinois   |  2718782   | 41.8781136 |  -87.62979820000001 |
| 647 |   Houston    |    Texas     |  2195914   | 29.7604267 |     -95.3698028     |
| 891 |   New York   |   New York   |  8405837   | 40.7127837 |  -74.00594129999999 |
| 954 | Los Angeles  |  California  |  3884307   | 34.0522342 | -118.24368490000002 |
| 967 |   Phoenix    |   Arizona    |  1513367   | 33.4483771 |     -112.0740373    |
+-----+--------------+--------------+------------+------------+---------------------+

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L22'

In [ ]:
%ls

City.db  L22_02.ipynb  tips.csv

In [ ]:
import pandas as pd

In [ ]:
tips_df=pd.read_csv("tips.csv")

In [ ]:
tips_df

      ID  total_bill   tip     sex smoker   day    time  size
0      1       16.99  1.01  Female     No   Sun  Dinner     2
1      2       10.34  1.66    Male     No   Sun  Dinner     3
2      3       21.01  3.50    Male     No   Sun  Dinner     3
3      4       23.68  3.31    Male     No   Sun  Dinner     2
4      5       24.59  3.61  Female     No   Sun  Dinner     4
..   ...         ...   ...     ...    ...   ...     ...   ...
239  240       29.03  5.92    Male     No   Sat  Dinner     3
240  241       27.18  2.00  Female    Yes   Sat  Dinner     2
241  242       22.67  2.00    Male    Yes   Sat  Dinner     2
242  243       17.82  1.75    Male     No   Sat  Dinner     2
243  244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [ ]:
tips_df.columns

Index(['ID', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
# 6
r=tips_df.groupby(by=['sex']) #

# s=tips_df['sex']
# vs=s.unique()

vs=r.groups.keys()

for i in vs:
  print(f"\n\nOrders by: {i}")
  sdf=r.get_group(i)

  #
  n=len(sdf)
  print(f"Number of orders: {n}")

  #
  s=sdf['size']
  n=s.sum()
  print(f"Number of customers served: {n}")

  #
  t=sdf['total_bill'].sum()
  print(f"Sum of total bill: $ {t:.2f}")

  t=sdf['tip'].sum()
  print(f"Sum of tips: {t}")

  # average tip
  t=sdf['tip'].mean()
  print(f"Average tip: {t}")

  sdf.to_csv(f"{i}_tips.csv",index=False)
  print(sdf)
# print(vs)

Orders by: Female
Number of orders: 87
Number of customers served: 214
Sum of total bill: $ 1570.95
Sum of tips: 246.50999999999996
Average tip: 2.8334482758620685
      ID  total_bill   tip     sex smoker   day    time  size
0      1       16.99  1.01  Female     No   Sun  Dinner     2
4      5       24.59  3.61  Female     No   Sun  Dinner     4
11    12       35.26  5.00  Female     No   Sun  Dinner     4
14    15       14.83  3.02  Female     No   Sun  Dinner     2
16    17       10.33  1.67  Female     No   Sun  Dinner     3
..   ...         ...   ...     ...    ...   ...     ...   ...
226  227       10.09  2.00  Female    Yes   Fri   Lunch     2
229  230       22.12  2.88  Female    Yes   Sat  Dinner     2
238  239       35.83  4.67  Female     No   Sat  Dinner     3
240  241       27.18  2.00  Female    Yes   Sat  Dinner     2
243  244       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 8 columns]


Orders by: Male
Number of orders: 157
Number of customers served: 413
Sum of total bill: $ 3256.82
Sum of tips: 485.07
Average tip: 3.0896178343949043
      ID  total_bill   tip   sex smoker  day    time  size
1      2       10.34  1.66  Male     No  Sun  Dinner     3
2      3       21.01  3.50  Male     No  Sun  Dinner     3
3      4       23.68  3.31  Male     No  Sun  Dinner     2
5      6       25.29  4.71  Male     No  Sun  Dinner     4
6      7        8.77  2.00  Male     No  Sun  Dinner     2
..   ...         ...   ...   ...    ...  ...     ...   ...
236  237       12.60  1.00  Male    Yes  Sat  Dinner     2
237  238       32.83  1.17  Male    Yes  Sat  Dinner     2
239  240       29.03  5.92  Male     No  Sat  Dinner     3
241  242       22.67  2.00  Male    Yes  Sat  Dinner     2
242  243       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 8 columns]

/tmp/ipython-input-2007921006.py:11: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)
/tmp/ipython-input-2007921006.py:11: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)

In [ ]:
%ls

City.db  Female_tips.csv  L22_02.ipynb  Male_tips.csv  tips.csv

In [ ]:
# 7
r=tips_df.groupby(by=['day']) #

# s=tips_df['sex']
# vs=s.unique()

vs=r.groups.keys()

for i in vs:
  print(f"\n\nOrders by: {i}")
  sdf=r.get_group(i)

  #
  n=len(sdf)
  print(f"Number of orders: {n}")

  #
  s=sdf['size']
  n=s.sum()
  print(f"Number of customers served: {n}")

  #
  t=sdf['total_bill'].sum()
  print(f"Sum of total bill: $ {t:.2f}")

  t=sdf['tip'].sum()
  print(f"Sum of tips: {t}")

  # average tip
  t=sdf['tip'].mean()
  print(f"Average tip: {t}")

  sdf.to_csv(f"{i}_tips.csv",index=False)
  print(sdf)
# print(vs)

Orders by: Fri
Number of orders: 19
Number of customers served: 40
Sum of total bill: $ 325.88
Sum of tips: 51.959999999999994
Average tip: 2.7347368421052627
      ID  total_bill   tip     sex smoker  day    time  size
90    91       28.97  3.00    Male    Yes  Fri  Dinner     2
91    92       22.49  3.50    Male     No  Fri  Dinner     2
92    93        5.75  1.00  Female    Yes  Fri  Dinner     2
93    94       16.32  4.30  Female    Yes  Fri  Dinner     2
94    95       22.75  3.25  Female     No  Fri  Dinner     2
95    96       40.17  4.73    Male    Yes  Fri  Dinner     4
96    97       27.28  4.00    Male    Yes  Fri  Dinner     2
97    98       12.03  1.50    Male    Yes  Fri  Dinner     2
98    99       21.01  3.00    Male    Yes  Fri  Dinner     2
99   100       12.46  1.50    Male     No  Fri  Dinner     2
100  101       11.35  2.50  Female    Yes  Fri  Dinner     2
101  102       15.38  3.00  Female    Yes  Fri  Dinner     2
220  221       12.16  2.20    Male    Yes  Fri   Lunch     2
221  222       13.42  3.48  Female    Yes  Fri   Lunch     2
222  223        8.58  1.92    Male    Yes  Fri   Lunch     1
223  224       15.98  3.00  Female     No  Fri   Lunch     3
224  225       13.42  1.58    Male    Yes  Fri   Lunch     2
225  226       16.27  2.50  Female    Yes  Fri   Lunch     2
226  227       10.09  2.00  Female    Yes  Fri   Lunch     2


Orders by: Sat
Number of orders: 87
Number of customers served: 219
Sum of total bill: $ 1778.40
Sum of tips: 260.4
Average tip: 2.993103448275862
      ID  total_bill   tip     sex smoker  day    time  size
19    20       20.65  3.35    Male     No  Sat  Dinner     3
20    21       17.92  4.08    Male     No  Sat  Dinner     2
21    22       20.29  2.75  Female     No  Sat  Dinner     2
22    23       15.77  2.23  Female     No  Sat  Dinner     2
23    24       39.42  7.58    Male     No  Sat  Dinner     4
..   ...         ...   ...     ...    ...  ...     ...   ...
238  239       35.83  4.67  Female     No  Sat  Dinner     3
239  240       29.03  5.92    Male     No  Sat  Dinner     3
240  241       27.18  2.00  Female    Yes  Sat  Dinner     2
241  242       22.67  2.00    Male    Yes  Sat  Dinner     2
242  243       17.82  1.75    Male     No  Sat  Dinner     2

[87 rows x 8 columns]


Orders by: Sun
Number of orders: 76
Number of customers served: 216
Sum of total bill: $ 1627.16
Sum of tips: 247.39000000000001
Average tip: 3.2551315789473687
      ID  total_bill   tip     sex smoker  day    time  size
0      1       16.99  1.01  Female     No  Sun  Dinner     2
1      2       10.34  1.66    Male     No  Sun  Dinner     3
2      3       21.01  3.50    Male     No  Sun  Dinner     3
3      4       23.68  3.31    Male     No  Sun  Dinner     2
4      5       24.59  3.61  Female     No  Sun  Dinner     4
..   ...         ...   ...     ...    ...  ...     ...   ...
186  187       20.90  3.50  Female    Yes  Sun  Dinner     3
187  188       30.46  2.00    Male    Yes  Sun  Dinner     5
188  189       18.15  3.50  Female    Yes  Sun  Dinner     3
189  190       23.10  4.00    Male    Yes  Sun  Dinner     3
190  191       15.69  1.50    Male    Yes  Sun  Dinner     2

[76 rows x 8 columns]


Orders by: Thur
Number of orders: 62
Number of customers served: 152
Sum of total bill: $ 1096.33
Sum of tips: 171.82999999999996
Average tip: 2.771451612903225
      ID  total_bill   tip     sex smoker   day    time  size
77    78       27.20  4.00    Male     No  Thur   Lunch     4
78    79       22.76  3.00    Male     No  Thur   Lunch     2
79    80       17.29  2.71    Male     No  Thur   Lunch     2
80    81       19.44  3.00    Male    Yes  Thur   Lunch     2
81    82       16.66  3.40    Male     No  Thur   Lunch     2
..   ...         ...   ...     ...    ...   ...     ...   ...
202  203       13.00  2.00  Female    Yes  Thur   Lunch     2
203  204       16.40  2.50  Female    Yes  Thur   Lunch     2
204  205       20.53  4.00    Male    Yes  Thur   Lunch     4
205  206       16.47  3.23  Female    Yes  Thur   Lunch     3
243  244       18.78  3.00  Female     No  Thur  Dinner     2

[62 rows x 8 columns]

/tmp/ipython-input-3991840458.py:11: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)
/tmp/ipython-input-3991840458.py:11: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)
/tmp/ipython-input-3991840458.py:11: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)
/tmp/ipython-input-3991840458.py:11: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)

In [ ]:
# 9
c1 = tips_df['sex']=="Female"
c2 = tips_df['total_bill']>20
c3= tips_df['tip']>5
c = c1 & c2 & c3
r=tips_df[c]
r=r.sort_values(by=["total_bill",'tip'],ascending=[False,False])
r

      ID  total_bill   tip     sex smoker   day    time  size
85    86       34.83  5.17  Female     No  Thur   Lunch     4
52    53       34.81  5.20  Female     No   Sun  Dinner     4
155  156       29.85  5.14  Female     No   Sun  Dinner     5
214  215       28.17  6.50  Female    Yes   Sat  Dinner     3

In [ ]:
# 10
c1= tips_df['tip']>= 5
c2=tips_df['tip']<=10
c = c1 & c2
r=tips_df[c]
r

      ID  total_bill    tip     sex smoker   day    time  size
11    12       35.26   5.00  Female     No   Sun  Dinner     4
23    24       39.42   7.58    Male     No   Sat  Dinner     4
39    40       31.27   5.00    Male     No   Sat  Dinner     3
44    45       30.40   5.60    Male     No   Sun  Dinner     4
46    47       22.23   5.00    Male     No   Sun  Dinner     2
47    48       32.40   6.00    Male     No   Sun  Dinner     4
52    53       34.81   5.20  Female     No   Sun  Dinner     4
59    60       48.27   6.73    Male     No   Sat  Dinner     4
73    74       25.28   5.00  Female    Yes   Sat  Dinner     2
83    84       32.68   5.00    Male    Yes  Thur   Lunch     2
85    86       34.83   5.17  Female     No  Thur   Lunch     4
88    89       24.71   5.85    Male     No  Thur   Lunch     2
116  117       29.93   5.07    Male     No   Sun  Dinner     4
141  142       34.30   6.70    Male     No  Thur   Lunch     6
142  143       41.19   5.00    Male     No  Thur   Lunch     5
143  144       27.05   5.00  Female     No  Thur   Lunch     6
155  156       29.85   5.14  Female     No   Sun  Dinner     5
156  157       48.17   5.00    Male     No   Sun  Dinner     6
170  171       50.81  10.00    Male    Yes   Sat  Dinner     3
172  173        7.25   5.15    Male    Yes   Sun  Dinner     2
181  182       23.33   5.65    Male    Yes   Sun  Dinner     2
183  184       23.17   6.50    Male    Yes   Sun  Dinner     4
185  186       20.69   5.00    Male     No   Sun  Dinner     5
197  198       43.11   5.00  Female    Yes  Thur   Lunch     4
211  212       25.89   5.16    Male    Yes   Sat  Dinner     4
212  213       48.33   9.00    Male     No   Sat  Dinner     4
214  215       28.17   6.50  Female    Yes   Sat  Dinner     3
239  240       29.03   5.92    Male     No   Sat  Dinner     3

In [ ]:
# 11
tips_df["tip_ratio"]=tips_df['tip']/tips_df['total_bill']
tips_df

      ID  total_bill   tip     sex smoker   day    time  size  tip_ratio
0      1       16.99  1.01  Female     No   Sun  Dinner     2   0.059447
1      2       10.34  1.66    Male     No   Sun  Dinner     3   0.160542
2      3       21.01  3.50    Male     No   Sun  Dinner     3   0.166587
3      4       23.68  3.31    Male     No   Sun  Dinner     2   0.139780
4      5       24.59  3.61  Female     No   Sun  Dinner     4   0.146808
..   ...         ...   ...     ...    ...   ...     ...   ...        ...
239  240       29.03  5.92    Male     No   Sat  Dinner     3   0.203927
240  241       27.18  2.00  Female    Yes   Sat  Dinner     2   0.073584
241  242       22.67  2.00    Male    Yes   Sat  Dinner     2   0.088222
242  243       17.82  1.75    Male     No   Sat  Dinner     2   0.098204
243  244       18.78  3.00  Female     No  Thur  Dinner     2   0.159744

[244 rows x 9 columns]

In [ ]:
r=tips_df['tip_ratio'].mean()
print(f"Average tip percent: {r:.3%}")

Average tip percent: 16.080%