In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L24"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L24

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content/drive/My Drive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L24'

In [ ]:
%ls

City.db  L24_LCP.ipynb

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 2.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 1.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 5.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.7/139.7 kB 9.1 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
%sql sqlite:///City.db

Connecting to 'sqlite:///City.db'

In [ ]:
%sqlcmd tables

+------+
| Name |
+------+
| data |
+------+

In [ ]:
%sqlcmd columns -t data

+------------+---------+----------+---------+-------------+
|    name    |   type  | nullable | default | primary_key |
+------------+---------+----------+---------+-------------+
|     ID     | INTEGER |  False   |   None  |      1      |
|    City    |   TEXT  |   True   |   None  |      0      |
|   State    |   TEXT  |   True   |   None  |      0      |
| Population | INTEGER |   True   |   None  |      0      |
|    lat     |   REAL  |   True   |   None  |      0      |
|    lon     |   REAL  |   True   |   None  |      0      |
+------------+---------+----------+---------+-------------+

In [ ]:
%%sql
select *
from data
limit 10
;
# we get one signle table

Running query in 'sqlite:///City.db'

+----+------------+----------------+------------+--------------------+--------------+
| ID |    City    |     State      | Population |        lat         |     lon      |
+----+------------+----------------+------------+--------------------+--------------+
| 1  | Marysville |   Washington   |   63269    |     48.0517637     | -122.1770818 |
| 2  |   Perris   |   California   |   72326    |     33.7825194     | -117.2286478 |
| 3  | Cleveland  |      Ohio      |   390113   |      41.49932      | -81.6943605  |
| 4  | Worcester  | Massachusetts  |   182544   | 42.262593200000005 | -71.8022934  |
| 5  |  Columbia  | South Carolina |   133358   |     34.0007104     | -81.0348144  |
| 6  | Waterbury  |  Connecticut   |   109676   | 41.558152500000006 | -73.0514965  |
| 7  |   Eagan    |   Minnesota    |   65453    | 44.804132200000005 | -93.1668858  |
| 8  | Southfield |    Michigan    |   73006    |     42.4733688     | -83.2218731  |
| 9  | Lafayette  |   Louisiana    |   124276   |     30.2240897     | -92.0198427  |
| 10 | Boise City |     Idaho      |   214237   |     43.6187102     | -116.2146068 |
+----+------------+----------------+------------+--------------------+--------------+

In [ ]:
%%sql
select City,
       Population
from data
limit 10
;

Running query in 'sqlite:///City.db'

+------------+------------+
|    City    | Population |
+------------+------------+
| Marysville |   63269    |
|   Perris   |   72326    |
| Cleveland  |   390113   |
| Worcester  |   182544   |
|  Columbia  |   133358   |
| Waterbury  |   109676   |
|   Eagan    |   65453    |
| Southfield |   73006    |
| Lafayette  |   124276   |
| Boise City |   214237   |
+------------+------------+

In [ ]:
# avg() count() max() min()
%%sql
select COUNT(*) as N,
       MAX(Population) as MaxPop,
       City
from data
;

Running query in 'sqlite:///City.db'

+------+---------+----------+
|  N   |  MaxPop |   City   |
+------+---------+----------+
| 1000 | 8405837 | New York |
+------+---------+----------+

In [ ]:
%%sql
-- sql: result in a signle table
select * -- 2: Keep columns
from data -- 1: always result in a single table
limit 3
;

Running query in 'sqlite:///City.db'

+----+------------+------------+------------+------------+--------------+
| ID |    City    |   State    | Population |    lat     |     lon      |
+----+------------+------------+------------+------------+--------------+
| 1  | Marysville | Washington |   63269    | 48.0517637 | -122.1770818 |
| 2  |   Perris   | California |   72326    | 33.7825194 | -117.2286478 |
| 3  | Cleveland  |    Ohio    |   390113   |  41.49932  | -81.6943605  |
+----+------------+------------+------------+------------+--------------+

In [ ]:
%%sql
select City as C,
       State,
       Population,
       Population as P,
       Population+100 as P100
from data
limit 3
;

Running query in 'sqlite:///City.db'

+------------+------------+------------+--------+--------+
|     C      |   State    | Population |   P    |  P100  |
+------------+------------+------------+--------+--------+
| Marysville | Washington |   63269    | 63269  | 63369  |
|   Perris   | California |   72326    | 72326  | 72426  |
| Cleveland  |    Ohio    |   390113   | 390113 | 390213 |
+------------+------------+------------+--------+--------+

In [ ]:
%%sql
-- > < <= >= <> equal to =
-- and or
select City as C,
       State,
       Population,
       Population as P,
       Population+100 as P100
from data
where State='Utah'
;

Running query in 'sqlite:///City.db'

+------------------+-------+------------+--------+--------+
|        C         | State | Population |   P    |  P100  |
+------------------+-------+------------+--------+--------+
|      Logan       |  Utah |   48913    | 48913  | 49013  |
|   South Jordan   |  Utah |   59366    | 59366  | 59466  |
|    Bountiful     |  Utah |   43023    | 43023  | 43123  |
|      Provo       |  Utah |   116288   | 116288 | 116388 |
|   Spanish Fork   |  Utah |   36956    | 36956  | 37056  |
|   Taylorsville   |  Utah |   60519    | 60519  | 60619  |
|     Riverton     |  Utah |   40921    | 40921  | 41021  |
|       Lehi       |  Utah |   54382    | 54382  | 54482  |
|      Ogden       |  Utah |   84249    | 84249  | 84349  |
|      Layton      |  Utah |   70790    | 70790  | 70890  |
|      Murray      |  Utah |   48612    | 48612  | 48712  |
|      Sandy       |  Utah |   90231    | 90231  | 90331  |
| West Valley City |  Utah |   133579   | 133579 | 133679 |
|       Orem       |  Utah |   91648    | 91648  | 91748  |
|       Roy        |  Utah |   37733    | 37733  | 37833  |
|      Draper      |  Utah |   45285    | 45285  | 45385  |
|    St. George    |  Utah |   76817    | 76817  | 76917  |
|   West Jordan    |  Utah |   110077   | 110077 | 110177 |
|  Salt Lake City  |  Utah |   191180   | 191180 | 191280 |
+------------------+-------+------------+--------+--------+

In [ ]:
%%sql
select City as C,
       State,
       Population,
       Population as P,
       Population+100 as P100
from data
where State='Utah' or
      State='Nevada' or
      State='Ohio'
;

Running query in 'sqlite:///City.db'

+-------------------+--------+------------+--------+--------+
|         C         | State  | Population |   P    |  P100  |
+-------------------+--------+------------+--------+--------+
|     Cleveland     |  Ohio  |   390113   | 390113 | 390213 |
|       Logan       |  Utah  |   48913    | 48913  | 49013  |
|        Lima       |  Ohio  |   38355    | 38355  | 38455  |
|     Henderson     | Nevada |   270811   | 270811 | 270911 |
|     Lancaster     |  Ohio  |   39325    | 39325  | 39425  |
|     Kettering     |  Ohio  |   55870    | 55870  | 55970  |
|        Reno       | Nevada |   233294   | 233294 | 233394 |
|      Columbus     |  Ohio  |   822553   | 822553 | 822653 |
|   Cuyahoga Falls  |  Ohio  |   49267    | 49267  | 49367  |
|    South Jordan   |  Utah  |   59366    | 59366  | 59466  |
|  North Las Vegas  | Nevada |   226877   | 226877 | 226977 |
|     Grove City    |  Ohio  |   37490    | 37490  | 37590  |
|     Fairfield     |  Ohio  |   42635    | 42635  | 42735  |
|     Bountiful     |  Utah  |   43023    | 43023  | 43123  |
|       Parma       |  Ohio  |   80429    | 80429  | 80529  |
|     Cincinnati    |  Ohio  |   297517   | 297517 | 297617 |
|       Toledo      |  Ohio  |   282313   | 282313 | 282413 |
|       Sparks      | Nevada |   93282    | 93282  | 93382  |
|     Youngstown    |  Ohio  |   65184    | 65184  | 65284  |
|     Mansfield     |  Ohio  |   46454    | 46454  | 46554  |
|       Dublin      |  Ohio  |   43607    | 43607  | 43707  |
|      Findlay      |  Ohio  |   41512    | 41512  | 41612  |
|       Provo       |  Utah  |   116288   | 116288 | 116388 |
|    Strongsville   |  Ohio  |   44730    | 44730  | 44830  |
|    Spanish Fork   |  Utah  |   36956    | 36956  | 37056  |
|    Taylorsville   |  Utah  |   60519    | 60519  | 60619  |
|    Carson City    | Nevada |   54080    | 54080  | 54180  |
|      Riverton     |  Utah  |   40921    | 40921  | 41021  |
|       Dayton      |  Ohio  |   143355   | 143355 | 143455 |
|       Euclid      |  Ohio  |   48139    | 48139  | 48239  |
|       Warren      |  Ohio  |   40768    | 40768  | 40868  |
|        Lehi       |  Utah  |   54382    | 54382  | 54482  |
|   Huber Heights   |  Ohio  |   38142    | 38142  | 38242  |
|      Hamilton     |  Ohio  |   62258    | 62258  | 62358  |
|       Ogden       |  Utah  |   84249    | 84249  | 84349  |
|    Springfield    |  Ohio  |   59357    | 59357  | 59457  |
|       Layton      |  Utah  |   70790    | 70790  | 70890  |
|       Mentor      |  Ohio  |   46979    | 46979  | 47079  |
|       Elyria      |  Ohio  |   53956    | 53956  | 54056  |
|       Murray      |  Utah  |   48612    | 48612  | 48712  |
|       Sandy       |  Utah  |   90231    | 90231  | 90331  |
|  West Valley City |  Utah  |   133579   | 133579 | 133679 |
|        Orem       |  Utah  |   91648    | 91648  | 91748  |
|     Middletown    |  Ohio  |   48630    | 48630  | 48730  |
|       Newark      |  Ohio  |   47777    | 47777  | 47877  |
|    Westerville    |  Ohio  |   37530    | 37530  | 37630  |
|     Las Vegas     | Nevada |   603488   | 603488 | 603588 |
|       Akron       |  Ohio  |   198100   | 198100 | 198200 |
|       Lorain      |  Ohio  |   63710    | 63710  | 63810  |
|        Roy        |  Utah  |   37733    | 37733  | 37833  |
|    Beavercreek    |  Ohio  |   45712    | 45712  | 45812  |
|       Draper      |  Utah  |   45285    | 45285  | 45385  |
|     St. George    |  Utah  |   76817    | 76817  | 76917  |
|      Lakewood     |  Ohio  |   51143    | 51143  | 51243  |
|       Canton      |  Ohio  |   72535    | 72535  | 72635  |
|    West Jordan    |  Utah  |   110077   | 110077 | 110177 |
|   Salt Lake City  |  Utah  |   191180   | 191180 | 191280 |
| Cleveland Heights |  Ohio  |   45394    | 45394  | 45494  |
+-------------------+--------+------------+--------+--------+

In [ ]:
%%sql
select City as C,
       State,
       Population,
       Population as P,
       Population+100 as P100
from data
where Population>1000000
;

Running query in 'sqlite:///City.db'

+--------------+--------------+------------+---------+---------+
|      C       |    State     | Population |    P    |   P100  |
+--------------+--------------+------------+---------+---------+
| Philadelphia | Pennsylvania |  1553165   | 1553165 | 1553265 |
|    Dallas    |    Texas     |  1257676   | 1257676 | 1257776 |
| San Antonio  |    Texas     |  1409019   | 1409019 | 1409119 |
|  San Diego   |  California  |  1355896   | 1355896 | 1355996 |
|   Chicago    |   Illinois   |  2718782   | 2718782 | 2718882 |
|   Houston    |    Texas     |  2195914   | 2195914 | 2196014 |
|   New York   |   New York   |  8405837   | 8405837 | 8405937 |
| Los Angeles  |  California  |  3884307   | 3884307 | 3884407 |
|   Phoenix    |   Arizona    |  1513367   | 1513367 | 1513467 |
+--------------+--------------+------------+---------+---------+

In [ ]:
%%sql
select City as C,
       State,
       Population,
       Population as P,
       Population+100 as P100
from data
where Population>1000000 and
      Population<2000000
;

Running query in 'sqlite:///City.db'

+--------------+--------------+------------+---------+---------+
|      C       |    State     | Population |    P    |   P100  |
+--------------+--------------+------------+---------+---------+
| Philadelphia | Pennsylvania |  1553165   | 1553165 | 1553265 |
|    Dallas    |    Texas     |  1257676   | 1257676 | 1257776 |
| San Antonio  |    Texas     |  1409019   | 1409019 | 1409119 |
|  San Diego   |  California  |  1355896   | 1355896 | 1355996 |
|   Phoenix    |   Arizona    |  1513367   | 1513367 | 1513467 |
+--------------+--------------+------------+---------+---------+

In [ ]:
%%sql
select City as C,
       State,
       Population,
       Population as P,
       Population+100 as P100
from data
where Population>1000000 and
      Population<2000000 and
      State='Texas'
;

Running query in 'sqlite:///City.db'

+-------------+-------+------------+---------+---------+
|      C      | State | Population |    P    |   P100  |
+-------------+-------+------------+---------+---------+
|    Dallas   | Texas |  1257676   | 1257676 | 1257776 |
| San Antonio | Texas |  1409019   | 1409019 | 1409119 |
+-------------+-------+------------+---------+---------+

In [ ]:
%%sql
-- max() min() avg() count() sum()
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN
from data
;

Running query in 'sqlite:///City.db'

+------+---------+-------+
|  N   |   MAX   |  MIN  |
+------+---------+-------+
| 1000 | 8405837 | 36877 |
+------+---------+-------+

In [ ]:
%%sql
-- group by: divide a single table into multiple tables
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN,
       State
from data
group by State
;

Running query in 'sqlite:///City.db'

+-----+---------+--------+----------------------+
|  N  |   MAX   |  MIN   |        State         |
+-----+---------+--------+----------------------+
|  12 |  212113 | 37498  |       Alabama        |
|  1  |  300950 | 300950 |        Alaska        |
|  25 | 1513367 | 37130  |       Arizona        |
|  10 |  197357 | 40167  |       Arkansas       |
| 212 | 3884307 | 37101  |      California      |
|  21 |  649495 | 37499  |       Colorado       |
|  15 |  147216 | 40347  |     Connecticut      |
|  2  |  71525  | 37366  |       Delaware       |
|  1  |  646449 | 646449 | District of Columbia |
|  73 |  842583 | 36877  |       Florida        |
|  18 |  447841 | 40059  |       Georgia        |
|  1  |  347884 | 347884 |        Hawaii        |
|  8  |  214237 | 45981  |        Idaho         |
|  52 | 2718782 | 37240  |       Illinois       |
|  21 |  843393 | 45775  |       Indiana        |
|  13 |  207510 | 40566  |         Iowa         |
|  11 |  386552 | 41889  |        Kansas        |
|  5  |  609893 | 40956  |       Kentucky       |
|  9  |  378715 | 48426  |      Louisiana       |
|  1  |  66318  | 66318  |        Maine         |
|  7  |  622104 | 38722  |       Maryland       |
|  36 |  645966 | 37670  |    Massachusetts     |
|  31 |  688701 | 37213  |       Michigan       |
|  24 |  400070 | 39167  |      Minnesota       |
|  6  |  172638 | 40921  |     Mississippi      |
|  16 |  467007 | 38816  |       Missouri       |
|  4  |  109059 | 39860  |       Montana        |
|  4  |  434353 | 50550  |       Nebraska       |
|  6  |  603488 | 54080  |        Nevada        |
|  3  |  110378 | 42419  |    New Hampshire     |
|  22 |  278427 | 39551  |      New Jersey      |
|  7  |  556495 | 39508  |      New Mexico      |
|  17 | 8405837 | 37659  |       New York       |
|  22 |  792862 | 40361  |    North Carolina    |
|  4  |  113658 | 46321  |     North Dakota     |
|  33 |  822553 | 37490  |         Ohio         |
|  11 |  610613 | 38863  |       Oklahoma       |
|  14 |  609456 | 37064  |        Oregon        |
|  13 | 1553165 | 41108  |     Pennsylvania     |
|  6  |  177994 | 41026  |     Rhode Island     |
|  12 |  133358 | 37647  |    South Carolina    |
|  2  |  164676 | 70812  |     South Dakota     |
|  17 |  653450 | 39375  |      Tennessee       |
|  83 | 2195914 | 37093  |        Texas         |
|  19 |  191180 | 36956  |         Utah         |
|  1  |  42284  | 42284  |       Vermont        |
|  17 |  448479 | 41705  |       Virginia       |
|  28 |  652405 | 38609  |      Washington      |
|  2  |  50821  | 49177  |    West Virginia     |
|  20 |  599164 | 36888  |      Wisconsin       |
|  2  |  62448  | 59628  |       Wyoming        |
+-----+---------+--------+----------------------+

In [ ]:
%%sql
-- order by: asc desc
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN,
       State
from data
group by State
order by N desc
;

Running query in 'sqlite:///City.db'

+-----+---------+--------+----------------------+
|  N  |   MAX   |  MIN   |        State         |
+-----+---------+--------+----------------------+
| 212 | 3884307 | 37101  |      California      |
|  83 | 2195914 | 37093  |        Texas         |
|  73 |  842583 | 36877  |       Florida        |
|  52 | 2718782 | 37240  |       Illinois       |
|  36 |  645966 | 37670  |    Massachusetts     |
|  33 |  822553 | 37490  |         Ohio         |
|  31 |  688701 | 37213  |       Michigan       |
|  28 |  652405 | 38609  |      Washington      |
|  25 | 1513367 | 37130  |       Arizona        |
|  24 |  400070 | 39167  |      Minnesota       |
|  22 |  792862 | 40361  |    North Carolina    |
|  22 |  278427 | 39551  |      New Jersey      |
|  21 |  843393 | 45775  |       Indiana        |
|  21 |  649495 | 37499  |       Colorado       |
|  20 |  599164 | 36888  |      Wisconsin       |
|  19 |  191180 | 36956  |         Utah         |
|  18 |  447841 | 40059  |       Georgia        |
|  17 |  448479 | 41705  |       Virginia       |
|  17 |  653450 | 39375  |      Tennessee       |
|  17 | 8405837 | 37659  |       New York       |
|  16 |  467007 | 38816  |       Missouri       |
|  15 |  147216 | 40347  |     Connecticut      |
|  14 |  609456 | 37064  |        Oregon        |
|  13 | 1553165 | 41108  |     Pennsylvania     |
|  13 |  207510 | 40566  |         Iowa         |
|  12 |  133358 | 37647  |    South Carolina    |
|  12 |  212113 | 37498  |       Alabama        |
|  11 |  610613 | 38863  |       Oklahoma       |
|  11 |  386552 | 41889  |        Kansas        |
|  10 |  197357 | 40167  |       Arkansas       |
|  9  |  378715 | 48426  |      Louisiana       |
|  8  |  214237 | 45981  |        Idaho         |
|  7  |  556495 | 39508  |      New Mexico      |
|  7  |  622104 | 38722  |       Maryland       |
|  6  |  177994 | 41026  |     Rhode Island     |
|  6  |  603488 | 54080  |        Nevada        |
|  6  |  172638 | 40921  |     Mississippi      |
|  5  |  609893 | 40956  |       Kentucky       |
|  4  |  113658 | 46321  |     North Dakota     |
|  4  |  434353 | 50550  |       Nebraska       |
|  4  |  109059 | 39860  |       Montana        |
|  3  |  110378 | 42419  |    New Hampshire     |
|  2  |  62448  | 59628  |       Wyoming        |
|  2  |  50821  | 49177  |    West Virginia     |
|  2  |  164676 | 70812  |     South Dakota     |
|  2  |  71525  | 37366  |       Delaware       |
|  1  |  42284  | 42284  |       Vermont        |
|  1  |  66318  | 66318  |        Maine         |
|  1  |  347884 | 347884 |        Hawaii        |
|  1  |  646449 | 646449 | District of Columbia |
|  1  |  300950 | 300950 |        Alaska        |
+-----+---------+--------+----------------------+

In [ ]:
%%sql
-- having
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN,
       State
from data
group by State
having count(*)>30
order by N desc
;

Running query in 'sqlite:///City.db'

+-----+---------+-------+---------------+
|  N  |   MAX   |  MIN  |     State     |
+-----+---------+-------+---------------+
| 212 | 3884307 | 37101 |   California  |
|  83 | 2195914 | 37093 |     Texas     |
|  73 |  842583 | 36877 |    Florida    |
|  52 | 2718782 | 37240 |    Illinois   |
|  36 |  645966 | 37670 | Massachusetts |
|  33 |  822553 | 37490 |      Ohio     |
|  31 |  688701 | 37213 |    Michigan   |
+-----+---------+-------+---------------+

In [ ]:
%%sql
select City,
       State,
       max(Population) as MAX
from data
group by State
;

Running query in 'sqlite:///City.db'

+----------------+----------------------+---------+
|      City      |        State         |   MAX   |
+----------------+----------------------+---------+
|   Birmingham   |       Alabama        |  212113 |
|   Anchorage    |        Alaska        |  300950 |
|    Phoenix     |       Arizona        | 1513367 |
|  Little Rock   |       Arkansas       |  197357 |
|  Los Angeles   |      California      | 3884307 |
|     Denver     |       Colorado       |  649495 |
|   Bridgeport   |     Connecticut      |  147216 |
|   Wilmington   |       Delaware       |  71525  |
|   Washington   | District of Columbia |  646449 |
|  Jacksonville  |       Florida        |  842583 |
|    Atlanta     |       Georgia        |  447841 |
|    Honolulu    |        Hawaii        |  347884 |
|   Boise City   |        Idaho         |  214237 |
|    Chicago     |       Illinois       | 2718782 |
|  Indianapolis  |       Indiana        |  843393 |
|   Des Moines   |         Iowa         |  207510 |
|    Wichita     |        Kansas        |  386552 |
|   Louisville   |       Kentucky       |  609893 |
|  New Orleans   |      Louisiana       |  378715 |
|    Portland    |        Maine         |  66318  |
|   Baltimore    |       Maryland       |  622104 |
|     Boston     |    Massachusetts     |  645966 |
|    Detroit     |       Michigan       |  688701 |
|  Minneapolis   |      Minnesota       |  400070 |
|    Jackson     |     Mississippi      |  172638 |
|  Kansas City   |       Missouri       |  467007 |
|    Billings    |       Montana        |  109059 |
|     Omaha      |       Nebraska       |  434353 |
|   Las Vegas    |        Nevada        |  603488 |
|   Manchester   |    New Hampshire     |  110378 |
|     Newark     |      New Jersey      |  278427 |
|  Albuquerque   |      New Mexico      |  556495 |
|    New York    |       New York       | 8405837 |
|   Charlotte    |    North Carolina    |  792862 |
|     Fargo      |     North Dakota     |  113658 |
|    Columbus    |         Ohio         |  822553 |
| Oklahoma City  |       Oklahoma       |  610613 |
|    Portland    |        Oregon        |  609456 |
|  Philadelphia  |     Pennsylvania     | 1553165 |
|   Providence   |     Rhode Island     |  177994 |
|    Columbia    |    South Carolina    |  133358 |
|  Sioux Falls   |     South Dakota     |  164676 |
|    Memphis     |      Tennessee       |  653450 |
|    Houston     |        Texas         | 2195914 |
| Salt Lake City |         Utah         |  191180 |
|   Burlington   |       Vermont        |  42284  |
| Virginia Beach |       Virginia       |  448479 |
|    Seattle     |      Washington      |  652405 |
|   Charleston   |    West Virginia     |  50821  |
|   Milwaukee    |      Wisconsin       |  599164 |
|    Cheyenne    |       Wyoming        |  62448  |
+----------------+----------------------+---------+