In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L23"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L23

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 4.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 4.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 12.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.7/138.7 kB 13.4 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
%ls

City.db  L23_LCP.ipynb

In [ ]:
%sql sqlite:///City.db

Connecting to 'sqlite:///City.db'

In [ ]:
%sqlcmd tables

+------+
| Name |
+------+
| data |
+------+

In [ ]:
%sqlcmd columns -t data

+------------+---------+----------+---------+-------------+
|    name    |   type  | nullable | default | primary_key |
+------------+---------+----------+---------+-------------+
|     ID     | INTEGER |  False   |   None  |      1      |
|    City    |   TEXT  |   True   |   None  |      0      |
|   State    |   TEXT  |   True   |   None  |      0      |
| Population | INTEGER |   True   |   None  |      0      |
|    lat     |   REAL  |   True   |   None  |      0      |
|    lon     |   REAL  |   True   |   None  |      0      |
+------------+---------+----------+---------+-------------+

In [ ]:
%%sql
select *
from data
where State='Utah'
;

Running query in 'sqlite:///City.db'

+-----+------------------+-------+------------+--------------------+---------------------+
|  ID |       City       | State | Population |        lat         |         lon         |
+-----+------------------+-------+------------+--------------------+---------------------+
|  32 |      Logan       |  Utah |   48913    |     41.7369803     |     -111.8338359    |
| 194 |   South Jordan   |  Utah |   59366    |     40.5621704     |     -111.929658     |
| 286 |    Bountiful     |  Utah |   43023    |     40.8893895     |     -111.880771     |
| 382 |      Provo       |  Utah |   116288   |     40.2338438     |     -111.6585337    |
| 435 |   Spanish Fork   |  Utah |   36956    |     40.114955      |     -111.654923     |
| 441 |   Taylorsville   |  Utah |   60519    |     40.6677248     |     -111.9388258    |
| 467 |     Riverton     |  Utah |   40921    |     40.521893      |     -111.9391023    |
| 501 |       Lehi       |  Utah |   54382    |     40.3916172     |     -111.8507662    |
| 534 |      Ogden       |  Utah |   84249    |       41.223       |     -111.9738304    |
| 569 |      Layton      |  Utah |   70790    |     41.0602216     |     -111.9710529    |
| 604 |      Murray      |  Utah |   48612    |     40.6668916     |     -111.8879909    |
| 631 |      Sandy       |  Utah |   90231    | 40.564978100000005 |     -111.8389726    |
| 674 | West Valley City |  Utah |   133579   | 40.691613200000006 |     -112.0010501    |
| 677 |       Orem       |  Utah |   91648    |     40.2968979     | -111.69464750000002 |
| 738 |       Roy        |  Utah |   37733    |     41.1616108     |     -112.0263313    |
| 763 |      Draper      |  Utah |   45285    |     40.5246711     |     -111.8638226    |
| 857 |    St. George    |  Utah |   76817    |     37.0965278     |     -113.5684164    |
| 956 |   West Jordan    |  Utah |   110077   |     40.6096698     |     -111.9391031    |
| 965 |  Salt Lake City  |  Utah |   191180   |     40.7607793     | -111.89104740000002 |
+-----+------------------+-------+------------+--------------------+---------------------+

In [ ]:
# asc: desc:
%%sql
select *
from data
where State='Utah'
order by Population desc
;

Running query in 'sqlite:///City.db'

+-----+------------------+-------+------------+--------------------+---------------------+
|  ID |       City       | State | Population |        lat         |         lon         |
+-----+------------------+-------+------------+--------------------+---------------------+
| 965 |  Salt Lake City  |  Utah |   191180   |     40.7607793     | -111.89104740000002 |
| 674 | West Valley City |  Utah |   133579   | 40.691613200000006 |     -112.0010501    |
| 382 |      Provo       |  Utah |   116288   |     40.2338438     |     -111.6585337    |
| 956 |   West Jordan    |  Utah |   110077   |     40.6096698     |     -111.9391031    |
| 677 |       Orem       |  Utah |   91648    |     40.2968979     | -111.69464750000002 |
| 631 |      Sandy       |  Utah |   90231    | 40.564978100000005 |     -111.8389726    |
| 534 |      Ogden       |  Utah |   84249    |       41.223       |     -111.9738304    |
| 857 |    St. George    |  Utah |   76817    |     37.0965278     |     -113.5684164    |
| 569 |      Layton      |  Utah |   70790    |     41.0602216     |     -111.9710529    |
| 441 |   Taylorsville   |  Utah |   60519    |     40.6677248     |     -111.9388258    |
| 194 |   South Jordan   |  Utah |   59366    |     40.5621704     |     -111.929658     |
| 501 |       Lehi       |  Utah |   54382    |     40.3916172     |     -111.8507662    |
|  32 |      Logan       |  Utah |   48913    |     41.7369803     |     -111.8338359    |
| 604 |      Murray      |  Utah |   48612    |     40.6668916     |     -111.8879909    |
| 763 |      Draper      |  Utah |   45285    |     40.5246711     |     -111.8638226    |
| 286 |    Bountiful     |  Utah |   43023    |     40.8893895     |     -111.880771     |
| 467 |     Riverton     |  Utah |   40921    |     40.521893      |     -111.9391023    |
| 738 |       Roy        |  Utah |   37733    |     41.1616108     |     -112.0263313    |
| 435 |   Spanish Fork   |  Utah |   36956    |     40.114955      |     -111.654923     |
+-----+------------------+-------+------------+--------------------+---------------------+

In [ ]:
%%sql
select *
from data
where State='Utah'
order by Population asc
;

Running query in 'sqlite:///City.db'

+-----+------------------+-------+------------+--------------------+---------------------+
|  ID |       City       | State | Population |        lat         |         lon         |
+-----+------------------+-------+------------+--------------------+---------------------+
| 435 |   Spanish Fork   |  Utah |   36956    |     40.114955      |     -111.654923     |
| 738 |       Roy        |  Utah |   37733    |     41.1616108     |     -112.0263313    |
| 467 |     Riverton     |  Utah |   40921    |     40.521893      |     -111.9391023    |
| 286 |    Bountiful     |  Utah |   43023    |     40.8893895     |     -111.880771     |
| 763 |      Draper      |  Utah |   45285    |     40.5246711     |     -111.8638226    |
| 604 |      Murray      |  Utah |   48612    |     40.6668916     |     -111.8879909    |
|  32 |      Logan       |  Utah |   48913    |     41.7369803     |     -111.8338359    |
| 501 |       Lehi       |  Utah |   54382    |     40.3916172     |     -111.8507662    |
| 194 |   South Jordan   |  Utah |   59366    |     40.5621704     |     -111.929658     |
| 441 |   Taylorsville   |  Utah |   60519    |     40.6677248     |     -111.9388258    |
| 569 |      Layton      |  Utah |   70790    |     41.0602216     |     -111.9710529    |
| 857 |    St. George    |  Utah |   76817    |     37.0965278     |     -113.5684164    |
| 534 |      Ogden       |  Utah |   84249    |       41.223       |     -111.9738304    |
| 631 |      Sandy       |  Utah |   90231    | 40.564978100000005 |     -111.8389726    |
| 677 |       Orem       |  Utah |   91648    |     40.2968979     | -111.69464750000002 |
| 956 |   West Jordan    |  Utah |   110077   |     40.6096698     |     -111.9391031    |
| 382 |      Provo       |  Utah |   116288   |     40.2338438     |     -111.6585337    |
| 674 | West Valley City |  Utah |   133579   | 40.691613200000006 |     -112.0010501    |
| 965 |  Salt Lake City  |  Utah |   191180   |     40.7607793     | -111.89104740000002 |
+-----+------------------+-------+------------+--------------------+---------------------+

In [ ]:
%%sql
select *
from data
where State='Utah'
order by Population desc
limit 10
;

Running query in 'sqlite:///City.db'

+-----+------------------+-------+------------+--------------------+---------------------+
|  ID |       City       | State | Population |        lat         |         lon         |
+-----+------------------+-------+------------+--------------------+---------------------+
| 965 |  Salt Lake City  |  Utah |   191180   |     40.7607793     | -111.89104740000002 |
| 674 | West Valley City |  Utah |   133579   | 40.691613200000006 |     -112.0010501    |
| 382 |      Provo       |  Utah |   116288   |     40.2338438     |     -111.6585337    |
| 956 |   West Jordan    |  Utah |   110077   |     40.6096698     |     -111.9391031    |
| 677 |       Orem       |  Utah |   91648    |     40.2968979     | -111.69464750000002 |
| 631 |      Sandy       |  Utah |   90231    | 40.564978100000005 |     -111.8389726    |
| 534 |      Ogden       |  Utah |   84249    |       41.223       |     -111.9738304    |
| 857 |    St. George    |  Utah |   76817    |     37.0965278     |     -113.5684164    |
| 569 |      Layton      |  Utah |   70790    |     41.0602216     |     -111.9710529    |
| 441 |   Taylorsville   |  Utah |   60519    |     40.6677248     |     -111.9388258    |
+-----+------------------+-------+------------+--------------------+---------------------+

In [ ]:
# SQL: Database
# Python:
# DBA
# ANLY 3250: SQL
# Excel, Access, SQL Server
# Oracle
# SQLite, PostgreSQL, MYSQL
# SQLite
# SQL: structured query language

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 3.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 4.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 8.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.7/138.7 kB 13.6 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L23'

In [ ]:
%ls

City.db  L23_01.ipynb

In [ ]:
%sql sqlite:///City.db

Connecting to 'sqlite:///City.db'

In [ ]:
%sqlcmd tables

+------+
| Name |
+------+
| data |
+------+

In [ ]:
%sqlcmd columns -t data

+------------+---------+----------+---------+-------------+
|    name    |   type  | nullable | default | primary_key |
+------------+---------+----------+---------+-------------+
|     ID     | INTEGER |  False   |   None  |      1      |
|    City    |   TEXT  |   True   |   None  |      0      |
|   State    |   TEXT  |   True   |   None  |      0      |
| Population | INTEGER |   True   |   None  |      0      |
|    lat     |   REAL  |   True   |   None  |      0      |
|    lon     |   REAL  |   True   |   None  |      0      |
+------------+---------+----------+---------+-------------+

In [ ]:
%%sql
select *
from data
limit 5
;

Running query in 'sqlite:///City.db'

+----+------------+----------------+------------+--------------------+--------------+
| ID |    City    |     State      | Population |        lat         |     lon      |
+----+------------+----------------+------------+--------------------+--------------+
| 1  | Marysville |   Washington   |   63269    |     48.0517637     | -122.1770818 |
| 2  |   Perris   |   California   |   72326    |     33.7825194     | -117.2286478 |
| 3  | Cleveland  |      Ohio      |   390113   |      41.49932      | -81.6943605  |
| 4  | Worcester  | Massachusetts  |   182544   | 42.262593200000005 | -71.8022934  |
| 5  |  Columbia  | South Carolina |   133358   |     34.0007104     | -81.0348144  |
+----+------------+----------------+------------+--------------------+--------------+

In [ ]:
%%sql
select City,
       Population
from data
limit 5
;

Running query in 'sqlite:///City.db'

+------------+------------+
|    City    | Population |
+------------+------------+
| Marysville |   63269    |
|   Perris   |   72326    |
| Cleveland  |   390113   |
| Worcester  |   182544   |
|  Columbia  |   133358   |
+------------+------------+

In [ ]:
%%sql
select City as C,
       Population as P
from data
limit 5
;

Running query in 'sqlite:///City.db'

+------------+--------+
|     C      |   P    |
+------------+--------+
| Marysville | 63269  |
|   Perris   | 72326  |
| Cleveland  | 390113 |
| Worcester  | 182544 |
|  Columbia  | 133358 |
+------------+--------+

In [ ]:
%%sql
select City as C,
       Population as P,
       Population+100 as P100,
       Population*1.03 as P3P
from data
limit 5
;

Running query in 'sqlite:///City.db'

+------------+--------+--------+-----------+
|     C      |   P    |  P100  |    P3P    |
+------------+--------+--------+-----------+
| Marysville | 63269  | 63369  |  65167.07 |
|   Perris   | 72326  | 72426  |  74495.78 |
| Cleveland  | 390113 | 390213 | 401816.39 |
| Worcester  | 182544 | 182644 | 188020.32 |
|  Columbia  | 133358 | 133458 | 137358.74 |
+------------+--------+--------+-----------+

In [ ]:
%%sql
select City as C,
       Population as P,
       Population+100 as P100,
       Population*1.03 as P3P
from data
where State='Utah'
;

Running query in 'sqlite:///City.db'

+------------------+--------+--------+--------------------+
|        C         |   P    |  P100  |        P3P         |
+------------------+--------+--------+--------------------+
|      Logan       | 48913  | 49013  |      50380.39      |
|   South Jordan   | 59366  | 59466  |      61146.98      |
|    Bountiful     | 43023  | 43123  |      44313.69      |
|      Provo       | 116288 | 116388 |     119776.64      |
|   Spanish Fork   | 36956  | 37056  |      38064.68      |
|   Taylorsville   | 60519  | 60619  |      62334.57      |
|     Riverton     | 40921  | 41021  | 42148.630000000005 |
|       Lehi       | 54382  | 54482  |      56013.46      |
|      Ogden       | 84249  | 84349  |      86776.47      |
|      Layton      | 70790  | 70890  |      72913.7       |
|      Murray      | 48612  | 48712  |      50070.36      |
|      Sandy       | 90231  | 90331  | 92937.93000000001  |
| West Valley City | 133579 | 133679 |     137586.37      |
|       Orem       | 91648  | 91748  |      94397.44      |
|       Roy        | 37733  | 37833  |      38864.99      |
|      Draper      | 45285  | 45385  |      46643.55      |
|    St. George    | 76817  | 76917  | 79121.51000000001  |
|   West Jordan    | 110077 | 110177 |     113379.31      |
|  Salt Lake City  | 191180 | 191280 |      196915.4      |
+------------------+--------+--------+--------------------+

In [ ]:
%%sql
select City as C,
       Population as P,
       Population+100 as P100,
       Population*1.03 as P3P
from data
where State='Utah' and
      Population>=100000
;
# and or

Running query in 'sqlite:///City.db'

+------------------+--------+--------+-----------+
|        C         |   P    |  P100  |    P3P    |
+------------------+--------+--------+-----------+
|      Provo       | 116288 | 116388 | 119776.64 |
| West Valley City | 133579 | 133679 | 137586.37 |
|   West Jordan    | 110077 | 110177 | 113379.31 |
|  Salt Lake City  | 191180 | 191280 |  196915.4 |
+------------------+--------+--------+-----------+

In [ ]:
%%sql
select City as C,
       Population as P,
       Population+100 as P100,
       Population*1.03 as P3P
from data
where (State='Utah' and
      Population>=100000) or
      (State='Nevada')
;

Running query in 'sqlite:///City.db'

+------------------+--------+--------+-----------+
|        C         |   P    |  P100  |    P3P    |
+------------------+--------+--------+-----------+
|    Henderson     | 270811 | 270911 | 278935.33 |
|       Reno       | 233294 | 233394 | 240292.82 |
| North Las Vegas  | 226877 | 226977 | 233683.31 |
|      Sparks      | 93282  | 93382  |  96080.46 |
|      Provo       | 116288 | 116388 | 119776.64 |
|   Carson City    | 54080  | 54180  |  55702.4  |
| West Valley City | 133579 | 133679 | 137586.37 |
|    Las Vegas     | 603488 | 603588 | 621592.64 |
|   West Jordan    | 110077 | 110177 | 113379.31 |
|  Salt Lake City  | 191180 | 191280 |  196915.4 |
+------------------+--------+--------+-----------+

In [ ]:
%%sql
select City as C,
       Population as P,
       Population+100 as P100,
       Population*1.03 as P3P
from data
where State='Utah' and
      Population>=100000
order by Population desc
;
# asc desc

Running query in 'sqlite:///City.db'

+------------------+--------+--------+-----------+
|        C         |   P    |  P100  |    P3P    |
+------------------+--------+--------+-----------+
|  Salt Lake City  | 191180 | 191280 |  196915.4 |
| West Valley City | 133579 | 133679 | 137586.37 |
|      Provo       | 116288 | 116388 | 119776.64 |
|   West Jordan    | 110077 | 110177 | 113379.31 |
+------------------+--------+--------+-----------+

In [ ]:
%%sql
select count(*) as N,
       max(Population) as M,
       City
from data
where State='Utah'
;
# max() min() avg() count()

Running query in 'sqlite:///City.db'

+----+--------+----------------+
| N  |   M    |      City      |
+----+--------+----------------+
| 19 | 191180 | Salt Lake City |
+----+--------+----------------+