In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L24"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L24

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content/drive/My Drive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L24'

In [ ]:
%ls

City.db  L24_LCP.ipynb

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 5.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 2.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 8.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.7/139.7 kB 8.6 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
%sql sqlite:///City.db

Connecting to 'sqlite:///City.db'

In [ ]:
%sqlcmd tables

+------+
| Name |
+------+
| data |
+------+

In [ ]:
%sqlcmd columns -t data

+------------+---------+----------+---------+-------------+
|    name    |   type  | nullable | default | primary_key |
+------------+---------+----------+---------+-------------+
|     ID     | INTEGER |  False   |   None  |      1      |
|    City    |   TEXT  |   True   |   None  |      0      |
|   State    |   TEXT  |   True   |   None  |      0      |
| Population | INTEGER |   True   |   None  |      0      |
|    lat     |   REAL  |   True   |   None  |      0      |
|    lon     |   REAL  |   True   |   None  |      0      |
+------------+---------+----------+---------+-------------+

In [ ]:
%%sql
select *
from data
limit 10
;
# we get one signle table

Running query in 'sqlite:///City.db'

+----+------------+----------------+------------+--------------------+--------------+
| ID |    City    |     State      | Population |        lat         |     lon      |
+----+------------+----------------+------------+--------------------+--------------+
| 1  | Marysville |   Washington   |   63269    |     48.0517637     | -122.1770818 |
| 2  |   Perris   |   California   |   72326    |     33.7825194     | -117.2286478 |
| 3  | Cleveland  |      Ohio      |   390113   |      41.49932      | -81.6943605  |
| 4  | Worcester  | Massachusetts  |   182544   | 42.262593200000005 | -71.8022934  |
| 5  |  Columbia  | South Carolina |   133358   |     34.0007104     | -81.0348144  |
| 6  | Waterbury  |  Connecticut   |   109676   | 41.558152500000006 | -73.0514965  |
| 7  |   Eagan    |   Minnesota    |   65453    | 44.804132200000005 | -93.1668858  |
| 8  | Southfield |    Michigan    |   73006    |     42.4733688     | -83.2218731  |
| 9  | Lafayette  |   Louisiana    |   124276   |     30.2240897     | -92.0198427  |
| 10 | Boise City |     Idaho      |   214237   |     43.6187102     | -116.2146068 |
+----+------------+----------------+------------+--------------------+--------------+

In [ ]:
%%sql
select City,
       Population
from data
limit 10
;

Running query in 'sqlite:///City.db'

+------------+------------+
|    City    | Population |
+------------+------------+
| Marysville |   63269    |
|   Perris   |   72326    |
| Cleveland  |   390113   |
| Worcester  |   182544   |
|  Columbia  |   133358   |
| Waterbury  |   109676   |
|   Eagan    |   65453    |
| Southfield |   73006    |
| Lafayette  |   124276   |
| Boise City |   214237   |
+------------+------------+

In [ ]:
# avg() count() max() min()
%%sql
select COUNT(*) as N,
       MAX(Population) as MaxPop,
       City
from data
;

Running query in 'sqlite:///City.db'

+------+---------+----------+
|  N   |  MaxPop |   City   |
+------+---------+----------+
| 1000 | 8405837 | New York |
+------+---------+----------+

In [ ]:
%%sql
select * --2: keep columns *
from data --1: result in a single table
limit 5
;

Running query in 'sqlite:///City.db'

+----+------------+----------------+------------+--------------------+--------------+
| ID |    City    |     State      | Population |        lat         |     lon      |
+----+------------+----------------+------------+--------------------+--------------+
| 1  | Marysville |   Washington   |   63269    |     48.0517637     | -122.1770818 |
| 2  |   Perris   |   California   |   72326    |     33.7825194     | -117.2286478 |
| 3  | Cleveland  |      Ohio      |   390113   |      41.49932      | -81.6943605  |
| 4  | Worcester  | Massachusetts  |   182544   | 42.262593200000005 | -71.8022934  |
| 5  |  Columbia  | South Carolina |   133358   |     34.0007104     | -81.0348144  |
+----+------------+----------------+------------+--------------------+--------------+

In [ ]:
%%sql
select City as C, --2: keep columns *
       State,
       Population,
       Population as P,
       Population+1000 as P1000
from data --1: result in a single table
limit 5
;

Running query in 'sqlite:///City.db'

+------------+----------------+------------+--------+--------+
|     C      |     State      | Population |   P    | P1000  |
+------------+----------------+------------+--------+--------+
| Marysville |   Washington   |   63269    | 63269  | 64269  |
|   Perris   |   California   |   72326    | 72326  | 73326  |
| Cleveland  |      Ohio      |   390113   | 390113 | 391113 |
| Worcester  | Massachusetts  |   182544   | 182544 | 183544 |
|  Columbia  | South Carolina |   133358   | 133358 | 134358 |
+------------+----------------+------------+--------+--------+

In [ ]:
%%sql
-- > < >= <= <> not equal to =
-- and or
-- %_
select *
from data
where State='Utah'
;

Running query in 'sqlite:///City.db'

+-----+------------------+-------+------------+--------------------+---------------------+
|  ID |       City       | State | Population |        lat         |         lon         |
+-----+------------------+-------+------------+--------------------+---------------------+
|  32 |      Logan       |  Utah |   48913    |     41.7369803     |     -111.8338359    |
| 194 |   South Jordan   |  Utah |   59366    |     40.5621704     |     -111.929658     |
| 286 |    Bountiful     |  Utah |   43023    |     40.8893895     |     -111.880771     |
| 382 |      Provo       |  Utah |   116288   |     40.2338438     |     -111.6585337    |
| 435 |   Spanish Fork   |  Utah |   36956    |     40.114955      |     -111.654923     |
| 441 |   Taylorsville   |  Utah |   60519    |     40.6677248     |     -111.9388258    |
| 467 |     Riverton     |  Utah |   40921    |     40.521893      |     -111.9391023    |
| 501 |       Lehi       |  Utah |   54382    |     40.3916172     |     -111.8507662    |
| 534 |      Ogden       |  Utah |   84249    |       41.223       |     -111.9738304    |
| 569 |      Layton      |  Utah |   70790    |     41.0602216     |     -111.9710529    |
| 604 |      Murray      |  Utah |   48612    |     40.6668916     |     -111.8879909    |
| 631 |      Sandy       |  Utah |   90231    | 40.564978100000005 |     -111.8389726    |
| 674 | West Valley City |  Utah |   133579   | 40.691613200000006 |     -112.0010501    |
| 677 |       Orem       |  Utah |   91648    |     40.2968979     | -111.69464750000002 |
| 738 |       Roy        |  Utah |   37733    |     41.1616108     |     -112.0263313    |
| 763 |      Draper      |  Utah |   45285    |     40.5246711     |     -111.8638226    |
| 857 |    St. George    |  Utah |   76817    |     37.0965278     |     -113.5684164    |
| 956 |   West Jordan    |  Utah |   110077   |     40.6096698     |     -111.9391031    |
| 965 |  Salt Lake City  |  Utah |   191180   |     40.7607793     | -111.89104740000002 |
+-----+------------------+-------+------------+--------------------+---------------------+

In [ ]:
%%sql
select *
from data
where State='Utah'
;

Running query in 'sqlite:///City.db'

+-----+------------------+-------+------------+--------------------+---------------------+
|  ID |       City       | State | Population |        lat         |         lon         |
+-----+------------------+-------+------------+--------------------+---------------------+
|  32 |      Logan       |  Utah |   48913    |     41.7369803     |     -111.8338359    |
| 194 |   South Jordan   |  Utah |   59366    |     40.5621704     |     -111.929658     |
| 286 |    Bountiful     |  Utah |   43023    |     40.8893895     |     -111.880771     |
| 382 |      Provo       |  Utah |   116288   |     40.2338438     |     -111.6585337    |
| 435 |   Spanish Fork   |  Utah |   36956    |     40.114955      |     -111.654923     |
| 441 |   Taylorsville   |  Utah |   60519    |     40.6677248     |     -111.9388258    |
| 467 |     Riverton     |  Utah |   40921    |     40.521893      |     -111.9391023    |
| 501 |       Lehi       |  Utah |   54382    |     40.3916172     |     -111.8507662    |
| 534 |      Ogden       |  Utah |   84249    |       41.223       |     -111.9738304    |
| 569 |      Layton      |  Utah |   70790    |     41.0602216     |     -111.9710529    |
| 604 |      Murray      |  Utah |   48612    |     40.6668916     |     -111.8879909    |
| 631 |      Sandy       |  Utah |   90231    | 40.564978100000005 |     -111.8389726    |
| 674 | West Valley City |  Utah |   133579   | 40.691613200000006 |     -112.0010501    |
| 677 |       Orem       |  Utah |   91648    |     40.2968979     | -111.69464750000002 |
| 738 |       Roy        |  Utah |   37733    |     41.1616108     |     -112.0263313    |
| 763 |      Draper      |  Utah |   45285    |     40.5246711     |     -111.8638226    |
| 857 |    St. George    |  Utah |   76817    |     37.0965278     |     -113.5684164    |
| 956 |   West Jordan    |  Utah |   110077   |     40.6096698     |     -111.9391031    |
| 965 |  Salt Lake City  |  Utah |   191180   |     40.7607793     | -111.89104740000002 |
+-----+------------------+-------+------------+--------------------+---------------------+

In [ ]:
%%sql
select *
from data
where State='Utah' or
      State='Nevada' or
      State='Texas'
limit 20
;

Running query in 'sqlite:///City.db'

+-----+----------------------+--------+------------+--------------------+--------------+
|  ID |         City         | State  | Population |        lat         |     lon      |
+-----+----------------------+--------+------------+--------------------+--------------+
|  21 |       Lubbock        | Texas  |   239538   |     33.5778631     | -101.8551665 |
|  29 |       Rowlett        | Texas  |   58043    |     32.9029017     |  -96.56388   |
|  32 |        Logan         |  Utah  |   48913    |     41.7369803     | -111.8338359 |
|  39 | North Richland Hills | Texas  |   67317    |     32.8342952     | -97.2289029  |
|  47 |      Henderson       | Nevada |   270811   |     36.0395247     | -114.9817213 |
|  60 |        Dallas        | Texas  |  1257676   |     32.7766642     | -96.7969879  |
| 111 |         Reno         | Nevada |   233294   |     39.5296329     | -119.8138027 |
| 115 |      Texarkana       | Texas  |   37442    |     33.425125      | -94.0476882  |
| 120 |      The Colony      | Texas  |   39458    |     33.0806083     | -96.8928309  |
| 142 |       Pearland       | Texas  |   100065   |     29.5635666     | -95.2860474  |
| 152 |        Conroe        | Texas  |   63032    |     30.3118769     | -95.4560512  |
| 154 |     San Antonio      | Texas  |  1409019   |     29.4241219     | -98.4936282  |
| 160 |       Baytown        | Texas  |   75418    | 29.735504700000003 | -94.9774274  |
| 164 |       Mission        | Texas  |   81050    |     26.2159066     | -98.3252932  |
| 167 |        Allen         | Texas  |   92020    |     33.1031744     | -96.6705503  |
| 175 |       Abilene        | Texas  |   120099   |     32.4487364     | -99.7331439  |
| 188 |    Wichita Falls     | Texas  |   104898   | 33.913708500000006 | -98.4933873  |
| 189 |    Missouri City     | Texas  |   70185    |     29.6185669     | -95.5377215  |
| 191 |        Pharr         | Texas  |   73790    |     26.1947962     | -98.1836216  |
| 194 |     South Jordan     |  Utah  |   59366    |     40.5621704     | -111.929658  |
+-----+----------------------+--------+------------+--------------------+--------------+

In [ ]:
%%sql
select *
from data
where Population>1000000
;

Running query in 'sqlite:///City.db'

+-----+--------------+--------------+------------+------------+---------------------+
|  ID |     City     |    State     | Population |    lat     |         lon         |
+-----+--------------+--------------+------------+------------+---------------------+
|  54 | Philadelphia | Pennsylvania |  1553165   | 39.9525839 |     -75.1652215     |
|  60 |    Dallas    |    Texas     |  1257676   | 32.7766642 |     -96.7969879     |
| 154 | San Antonio  |    Texas     |  1409019   | 29.4241219 |     -98.4936282     |
| 334 |  San Diego   |  California  |  1355896   | 32.715738  |     -117.1610838    |
| 595 |   Chicago    |   Illinois   |  2718782   | 41.8781136 |  -87.62979820000001 |
| 647 |   Houston    |    Texas     |  2195914   | 29.7604267 |     -95.3698028     |
| 891 |   New York   |   New York   |  8405837   | 40.7127837 |  -74.00594129999999 |
| 954 | Los Angeles  |  California  |  3884307   | 34.0522342 | -118.24368490000002 |
| 967 |   Phoenix    |   Arizona    |  1513367   | 33.4483771 |     -112.0740373    |
+-----+--------------+--------------+------------+------------+---------------------+

In [ ]:
%%sql
select *
from data
where Population>1000000 and
      Population<2000000
;

Running query in 'sqlite:///City.db'

+-----+--------------+--------------+------------+------------+--------------+
|  ID |     City     |    State     | Population |    lat     |     lon      |
+-----+--------------+--------------+------------+------------+--------------+
|  54 | Philadelphia | Pennsylvania |  1553165   | 39.9525839 | -75.1652215  |
|  60 |    Dallas    |    Texas     |  1257676   | 32.7766642 | -96.7969879  |
| 154 | San Antonio  |    Texas     |  1409019   | 29.4241219 | -98.4936282  |
| 334 |  San Diego   |  California  |  1355896   | 32.715738  | -117.1610838 |
| 967 |   Phoenix    |   Arizona    |  1513367   | 33.4483771 | -112.0740373 |
+-----+--------------+--------------+------------+------------+--------------+

In [ ]:
%%sql
select *
from data
where Population>1000000 and
      Population<2000000 and
      State='Texas'
;

Running query in 'sqlite:///City.db'

+-----+-------------+-------+------------+------------+-------------+
|  ID |     City    | State | Population |    lat     |     lon     |
+-----+-------------+-------+------------+------------+-------------+
|  60 |    Dallas   | Texas |  1257676   | 32.7766642 | -96.7969879 |
| 154 | San Antonio | Texas |  1409019   | 29.4241219 | -98.4936282 |
+-----+-------------+-------+------------+------------+-------------+

In [ ]:
%%sql
-- max min count sum avg
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN
from data
;

Running query in 'sqlite:///City.db'

+------+---------+-------+
|  N   |   MAX   |  MIN  |
+------+---------+-------+
| 1000 | 8405837 | 36877 |
+------+---------+-------+

In [ ]:
%%sql
-- max min count sum avg
-- group by: divide a signle table into multiple tables
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN,
       State
from data
group by State
;

Running query in 'sqlite:///City.db'

+-----+---------+--------+----------------------+
|  N  |   MAX   |  MIN   |        State         |
+-----+---------+--------+----------------------+
|  12 |  212113 | 37498  |       Alabama        |
|  1  |  300950 | 300950 |        Alaska        |
|  25 | 1513367 | 37130  |       Arizona        |
|  10 |  197357 | 40167  |       Arkansas       |
| 212 | 3884307 | 37101  |      California      |
|  21 |  649495 | 37499  |       Colorado       |
|  15 |  147216 | 40347  |     Connecticut      |
|  2  |  71525  | 37366  |       Delaware       |
|  1  |  646449 | 646449 | District of Columbia |
|  73 |  842583 | 36877  |       Florida        |
|  18 |  447841 | 40059  |       Georgia        |
|  1  |  347884 | 347884 |        Hawaii        |
|  8  |  214237 | 45981  |        Idaho         |
|  52 | 2718782 | 37240  |       Illinois       |
|  21 |  843393 | 45775  |       Indiana        |
|  13 |  207510 | 40566  |         Iowa         |
|  11 |  386552 | 41889  |        Kansas        |
|  5  |  609893 | 40956  |       Kentucky       |
|  9  |  378715 | 48426  |      Louisiana       |
|  1  |  66318  | 66318  |        Maine         |
|  7  |  622104 | 38722  |       Maryland       |
|  36 |  645966 | 37670  |    Massachusetts     |
|  31 |  688701 | 37213  |       Michigan       |
|  24 |  400070 | 39167  |      Minnesota       |
|  6  |  172638 | 40921  |     Mississippi      |
|  16 |  467007 | 38816  |       Missouri       |
|  4  |  109059 | 39860  |       Montana        |
|  4  |  434353 | 50550  |       Nebraska       |
|  6  |  603488 | 54080  |        Nevada        |
|  3  |  110378 | 42419  |    New Hampshire     |
|  22 |  278427 | 39551  |      New Jersey      |
|  7  |  556495 | 39508  |      New Mexico      |
|  17 | 8405837 | 37659  |       New York       |
|  22 |  792862 | 40361  |    North Carolina    |
|  4  |  113658 | 46321  |     North Dakota     |
|  33 |  822553 | 37490  |         Ohio         |
|  11 |  610613 | 38863  |       Oklahoma       |
|  14 |  609456 | 37064  |        Oregon        |
|  13 | 1553165 | 41108  |     Pennsylvania     |
|  6  |  177994 | 41026  |     Rhode Island     |
|  12 |  133358 | 37647  |    South Carolina    |
|  2  |  164676 | 70812  |     South Dakota     |
|  17 |  653450 | 39375  |      Tennessee       |
|  83 | 2195914 | 37093  |        Texas         |
|  19 |  191180 | 36956  |         Utah         |
|  1  |  42284  | 42284  |       Vermont        |
|  17 |  448479 | 41705  |       Virginia       |
|  28 |  652405 | 38609  |      Washington      |
|  2  |  50821  | 49177  |    West Virginia     |
|  20 |  599164 | 36888  |      Wisconsin       |
|  2  |  62448  | 59628  |       Wyoming        |
+-----+---------+--------+----------------------+

In [ ]:
%%sql
-- max min count sum avg
-- group by: divide a signle table into multiple tables
-- asc desc
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN,
       State
from data
group by State
order by N desc
;

Running query in 'sqlite:///City.db'

+-----+---------+--------+----------------------+
|  N  |   MAX   |  MIN   |        State         |
+-----+---------+--------+----------------------+
| 212 | 3884307 | 37101  |      California      |
|  83 | 2195914 | 37093  |        Texas         |
|  73 |  842583 | 36877  |       Florida        |
|  52 | 2718782 | 37240  |       Illinois       |
|  36 |  645966 | 37670  |    Massachusetts     |
|  33 |  822553 | 37490  |         Ohio         |
|  31 |  688701 | 37213  |       Michigan       |
|  28 |  652405 | 38609  |      Washington      |
|  25 | 1513367 | 37130  |       Arizona        |
|  24 |  400070 | 39167  |      Minnesota       |
|  22 |  792862 | 40361  |    North Carolina    |
|  22 |  278427 | 39551  |      New Jersey      |
|  21 |  843393 | 45775  |       Indiana        |
|  21 |  649495 | 37499  |       Colorado       |
|  20 |  599164 | 36888  |      Wisconsin       |
|  19 |  191180 | 36956  |         Utah         |
|  18 |  447841 | 40059  |       Georgia        |
|  17 |  448479 | 41705  |       Virginia       |
|  17 |  653450 | 39375  |      Tennessee       |
|  17 | 8405837 | 37659  |       New York       |
|  16 |  467007 | 38816  |       Missouri       |
|  15 |  147216 | 40347  |     Connecticut      |
|  14 |  609456 | 37064  |        Oregon        |
|  13 | 1553165 | 41108  |     Pennsylvania     |
|  13 |  207510 | 40566  |         Iowa         |
|  12 |  133358 | 37647  |    South Carolina    |
|  12 |  212113 | 37498  |       Alabama        |
|  11 |  610613 | 38863  |       Oklahoma       |
|  11 |  386552 | 41889  |        Kansas        |
|  10 |  197357 | 40167  |       Arkansas       |
|  9  |  378715 | 48426  |      Louisiana       |
|  8  |  214237 | 45981  |        Idaho         |
|  7  |  556495 | 39508  |      New Mexico      |
|  7  |  622104 | 38722  |       Maryland       |
|  6  |  177994 | 41026  |     Rhode Island     |
|  6  |  603488 | 54080  |        Nevada        |
|  6  |  172638 | 40921  |     Mississippi      |
|  5  |  609893 | 40956  |       Kentucky       |
|  4  |  113658 | 46321  |     North Dakota     |
|  4  |  434353 | 50550  |       Nebraska       |
|  4  |  109059 | 39860  |       Montana        |
|  3  |  110378 | 42419  |    New Hampshire     |
|  2  |  62448  | 59628  |       Wyoming        |
|  2  |  50821  | 49177  |    West Virginia     |
|  2  |  164676 | 70812  |     South Dakota     |
|  2  |  71525  | 37366  |       Delaware       |
|  1  |  42284  | 42284  |       Vermont        |
|  1  |  66318  | 66318  |        Maine         |
|  1  |  347884 | 347884 |        Hawaii        |
|  1  |  646449 | 646449 | District of Columbia |
|  1  |  300950 | 300950 |        Alaska        |
+-----+---------+--------+----------------------+

In [ ]:
%%sql
-- max min count sum avg
-- group by: divide a signle table into multiple tables
-- asc desc
select count(*) as N,
       max(Population) as MAX,
       min(Population) as MIN,
       State
from data
group by State
having count(*)>30--where
order by N desc
;

Running query in 'sqlite:///City.db'

+-----+---------+-------+---------------+
|  N  |   MAX   |  MIN  |     State     |
+-----+---------+-------+---------------+
| 212 | 3884307 | 37101 |   California  |
|  83 | 2195914 | 37093 |     Texas     |
|  73 |  842583 | 36877 |    Florida    |
|  52 | 2718782 | 37240 |    Illinois   |
|  36 |  645966 | 37670 | Massachusetts |
|  33 |  822553 | 37490 |      Ohio     |
|  31 |  688701 | 37213 |    Michigan   |
+-----+---------+-------+---------------+