In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L25"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L25

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content/drive/My Drive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L25'

In [ ]:
%ls

City.db  L25_LCP.ipynb

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 7.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 3.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 10.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.2/141.2 kB 10.7 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
%sql sqlite:///City.db

Connecting to 'sqlite:///City.db'

In [ ]:
%sqlcmd tables

+------+
| Name |
+------+
| data |
+------+

In [ ]:
%sqlcmd columns -t data

+------------+---------+----------+---------+-------------+
|    name    |   type  | nullable | default | primary_key |
+------------+---------+----------+---------+-------------+
|     ID     | INTEGER |  False   |   None  |      1      |
|    City    |   TEXT  |   True   |   None  |      0      |
|   State    |   TEXT  |   True   |   None  |      0      |
| Population | INTEGER |   True   |   None  |      0      |
|    lat     |   REAL  |   True   |   None  |      0      |
|    lon     |   REAL  |   True   |   None  |      0      |
+------------+---------+----------+---------+-------------+

In [ ]:
# avg() max() min() count()
# groupby
%%sql
select *
from data
limit 5
;
# get all rows in data table. the result is one table

Running query in 'sqlite:///City.db'

+----+------------+----------------+------------+--------------------+--------------+
| ID |    City    |     State      | Population |        lat         |     lon      |
+----+------------+----------------+------------+--------------------+--------------+
| 1  | Marysville |   Washington   |   63269    |     48.0517637     | -122.1770818 |
| 2  |   Perris   |   California   |   72326    |     33.7825194     | -117.2286478 |
| 3  | Cleveland  |      Ohio      |   390113   |      41.49932      | -81.6943605  |
| 4  | Worcester  | Massachusetts  |   182544   | 42.262593200000005 | -71.8022934  |
| 5  |  Columbia  | South Carolina |   133358   |     34.0007104     | -81.0348144  |
+----+------------+----------------+------------+--------------------+--------------+

In [ ]:
%%sql
select count(*) as N,
       max(Population) as MaxPop,
       City as C,
       State as S
from data
;

Running query in 'sqlite:///City.db'

+------+---------+----------+----------+
|  N   |  MaxPop |    C     |    S     |
+------+---------+----------+----------+
| 1000 | 8405837 | New York | New York |
+------+---------+----------+----------+

In [ ]:
%%sql
select count(*) as N,
       max(Population) as MaxPop,
       City as C,
       State as S
from data
group by State # divide the single table into 51 small tables
;

Running query in 'sqlite:///City.db'

+-----+---------+----------------+----------------------+
|  N  |  MaxPop |       C        |          S           |
+-----+---------+----------------+----------------------+
|  12 |  212113 |   Birmingham   |       Alabama        |
|  1  |  300950 |   Anchorage    |        Alaska        |
|  25 | 1513367 |    Phoenix     |       Arizona        |
|  10 |  197357 |  Little Rock   |       Arkansas       |
| 212 | 3884307 |  Los Angeles   |      California      |
|  21 |  649495 |     Denver     |       Colorado       |
|  15 |  147216 |   Bridgeport   |     Connecticut      |
|  2  |  71525  |   Wilmington   |       Delaware       |
|  1  |  646449 |   Washington   | District of Columbia |
|  73 |  842583 |  Jacksonville  |       Florida        |
|  18 |  447841 |    Atlanta     |       Georgia        |
|  1  |  347884 |    Honolulu    |        Hawaii        |
|  8  |  214237 |   Boise City   |        Idaho         |
|  52 | 2718782 |    Chicago     |       Illinois       |
|  21 |  843393 |  Indianapolis  |       Indiana        |
|  13 |  207510 |   Des Moines   |         Iowa         |
|  11 |  386552 |    Wichita     |        Kansas        |
|  5  |  609893 |   Louisville   |       Kentucky       |
|  9  |  378715 |  New Orleans   |      Louisiana       |
|  1  |  66318  |    Portland    |        Maine         |
|  7  |  622104 |   Baltimore    |       Maryland       |
|  36 |  645966 |     Boston     |    Massachusetts     |
|  31 |  688701 |    Detroit     |       Michigan       |
|  24 |  400070 |  Minneapolis   |      Minnesota       |
|  6  |  172638 |    Jackson     |     Mississippi      |
|  16 |  467007 |  Kansas City   |       Missouri       |
|  4  |  109059 |    Billings    |       Montana        |
|  4  |  434353 |     Omaha      |       Nebraska       |
|  6  |  603488 |   Las Vegas    |        Nevada        |
|  3  |  110378 |   Manchester   |    New Hampshire     |
|  22 |  278427 |     Newark     |      New Jersey      |
|  7  |  556495 |  Albuquerque   |      New Mexico      |
|  17 | 8405837 |    New York    |       New York       |
|  22 |  792862 |   Charlotte    |    North Carolina    |
|  4  |  113658 |     Fargo      |     North Dakota     |
|  33 |  822553 |    Columbus    |         Ohio         |
|  11 |  610613 | Oklahoma City  |       Oklahoma       |
|  14 |  609456 |    Portland    |        Oregon        |
|  13 | 1553165 |  Philadelphia  |     Pennsylvania     |
|  6  |  177994 |   Providence   |     Rhode Island     |
|  12 |  133358 |    Columbia    |    South Carolina    |
|  2  |  164676 |  Sioux Falls   |     South Dakota     |
|  17 |  653450 |    Memphis     |      Tennessee       |
|  83 | 2195914 |    Houston     |        Texas         |
|  19 |  191180 | Salt Lake City |         Utah         |
|  1  |  42284  |   Burlington   |       Vermont        |
|  17 |  448479 | Virginia Beach |       Virginia       |
|  28 |  652405 |    Seattle     |      Washington      |
|  2  |  50821  |   Charleston   |    West Virginia     |
|  20 |  599164 |   Milwaukee    |      Wisconsin       |
|  2  |  62448  |    Cheyenne    |       Wyoming        |
+-----+---------+----------------+----------------------+

In [ ]:
%%sql
select *
from data
limit 3
;

Running query in 'sqlite:///City.db'

+----+------------+------------+------------+------------+--------------+
| ID |    City    |   State    | Population |    lat     |     lon      |
+----+------------+------------+------------+------------+--------------+
| 1  | Marysville | Washington |   63269    | 48.0517637 | -122.1770818 |
| 2  |   Perris   | California |   72326    | 33.7825194 | -117.2286478 |
| 3  | Cleveland  |    Ohio    |   390113   |  41.49932  | -81.6943605  |
+----+------------+------------+------------+------------+--------------+

In [ ]:
# 1
%%sql
select *
from data
where State='Texas'
;

Running query in 'sqlite:///City.db'

+-----+----------------------+-------+------------+--------------------+--------------+
|  ID |         City         | State | Population |        lat         |     lon      |
+-----+----------------------+-------+------------+--------------------+--------------+
|  21 |       Lubbock        | Texas |   239538   |     33.5778631     | -101.8551665 |
|  29 |       Rowlett        | Texas |   58043    |     32.9029017     |  -96.56388   |
|  39 | North Richland Hills | Texas |   67317    |     32.8342952     | -97.2289029  |
|  60 |        Dallas        | Texas |  1257676   |     32.7766642     | -96.7969879  |
| 115 |      Texarkana       | Texas |   37442    |     33.425125      | -94.0476882  |
| 120 |      The Colony      | Texas |   39458    |     33.0806083     | -96.8928309  |
| 142 |       Pearland       | Texas |   100065   |     29.5635666     | -95.2860474  |
| 152 |        Conroe        | Texas |   63032    |     30.3118769     | -95.4560512  |
| 154 |     San Antonio      | Texas |  1409019   |     29.4241219     | -98.4936282  |
| 160 |       Baytown        | Texas |   75418    | 29.735504700000003 | -94.9774274  |
| 164 |       Mission        | Texas |   81050    |     26.2159066     | -98.3252932  |
| 167 |        Allen         | Texas |   92020    |     33.1031744     | -96.6705503  |
| 175 |       Abilene        | Texas |   120099   |     32.4487364     | -99.7331439  |
| 188 |    Wichita Falls     | Texas |   104898   | 33.913708500000006 | -98.4933873  |
| 189 |    Missouri City     | Texas |   70185    |     29.6185669     | -95.5377215  |
| 191 |        Pharr         | Texas |   73790    |     26.1947962     | -98.1836216  |
| 200 |       Midland        | Texas |   123933   |     31.9973456     | -102.0779146 |
| 207 |       Rockwall       | Texas |   40922    |     32.9312336     | -96.4597089  |
| 219 |        DeSoto        | Texas |   51483    | 32.589699800000005 | -96.8570738  |
| 241 |     Brownsville      | Texas |   181860   |     25.9017472     | -97.4974838  |
| 242 |     Flower Mound     | Texas |   68609    |     33.0145673     | -97.0969552  |
| 243 |      Grapevine       | Texas |   50195    |     32.9342919     | -97.0780654  |
| 247 |      Mansfield       | Texas |   60872    |     32.5631924     | -97.1416768  |
| 250 |        Austin        | Texas |   885400   | 30.267153000000004 | -97.7430608  |
| 260 |       Bedford        | Texas |   48592    |     32.844017      | -97.1430671  |
| 273 |      Harlingen       | Texas |   65665    |     26.1906306     | -97.6961026  |
| 275 |        Denton        | Texas |   123099   |     33.2148412     | -97.1330683  |
| 276 |      Galveston       | Texas |   48733    |     29.3013479     | -94.7976958  |
| 281 |        Laredo        | Texas |   248142   | 27.530567100000003 | -99.4803241  |
| 283 |     Haltom City      | Texas |   43580    | 32.799573800000005 | -97.2691817  |
| 306 |      Sugar Land      | Texas |   83860    |     29.6196787     | -95.6349463  |
| 310 |     Duncanville      | Texas |   39605    |     32.6518004     | -96.9083366  |
| 326 |      Lancaster       | Texas |   38071    |     32.5920798     | -96.7561082  |
| 347 |       Weslaco        | Texas |   37093    |     26.1595194     | -97.9908366  |
| 356 |      San Angelo      | Texas |   97492    |     31.4637723     | -100.4370375 |
| 374 |       McAllen        | Texas |   136639   | 26.203407100000003 | -98.2300124  |
| 375 |       McKinney       | Texas |   148559   | 33.197246500000006 | -96.6397822  |
| 376 |       Killeen        | Texas |   137147   |     31.1171194     | -97.7277959  |
| 381 |       Amarillo       | Texas |   196429   |     35.2219971     | -101.8312969 |
| 394 |       Longview       | Texas |   81443    |     32.5007037     | -94.7404891  |
| 429 |    Grand Prairie     | Texas |   183372   |     32.7459645     | -96.9977846  |
| 443 |       Mesquite       | Texas |   143484   |     32.7667955     | -96.5991593  |
| 445 |       Garland        | Texas |   234566   |     32.912624      | -96.6388833  |
| 463 |     Port Arthur      | Texas |   54135    |     29.8849504     |  -93.939947  |
| 465 |       Burleson       | Texas |   40714    |     32.5420821     | -97.3208492  |
| 504 |        Frisco        | Texas |   136791   |     33.1506744     | -96.8236116  |
| 583 |      Richardson      | Texas |   104475   | 32.948333500000004 | -96.7298519  |
| 585 |      San Marcos      | Texas |   54076    |     29.8832749     | -97.9413941  |
| 635 |    New Braunfels     | Texas |   63279    |     29.7030024     | -98.1244531  |
| 637 |        Irving        | Texas |   228653   | 32.814017699999994 | -96.9488945  |
| 647 |       Houston        | Texas |  2195914   |     29.7604267     | -95.3698028  |
| 650 |       Beaumont       | Texas |   117796   |     30.080174      | -94.1265562  |
| 658 |        Odessa        | Texas |   110720   |     31.8456816     | -102.3676431 |
| 676 |      Georgetown      | Texas |   54898    | 30.633261800000003 | -97.6779842  |
| 679 |        Keller        | Texas |   42907    |     32.9341893     |  -97.229298  |
| 697 |        Euless        | Texas |   53224    |     32.8370727     | -97.0819541  |
| 714 |       Pasadena       | Texas |   152735   |     29.6910625     | -95.2091006  |
| 720 |       El Paso        | Texas |   674433   |     31.7775757     | -106.4424559 |
| 726 |       Edinburg       | Texas |   80836    |     26.3017374     | -98.1633432  |
| 734 |      Texas City      | Texas |   46081    |     29.383845      | -94.9027002  |
| 745 |        Temple        | Texas |   70190    |     31.0982344     |  -97.342782  |
| 775 |     Pflugerville     | Texas |   53752    |     30.4393696     | -97.6200043  |
| 787 |       Victoria       | Texas |   65098    |     28.8052674     | -97.0035982  |
| 789 |        Wylie         | Texas |   44575    |     33.0151201     | -96.5388789  |
| 790 |      Carrollton      | Texas |   126700   | 32.975641499999995 | -96.8899636  |
| 799 |      Huntsville      | Texas |   39795    | 30.723526300000003 | -95.5507771  |
| 807 |      Round Rock      | Texas |   109821   | 30.508255100000003 |  -97.678896  |
| 811 |     Friendswood      | Texas |   37587    | 29.529399800000004 | -95.2010447  |
| 817 |      Cedar Park      | Texas |   61238    |     30.505198      | -97.8202888  |
| 824 |        Bryan         | Texas |   78709    |     30.6743643     | -96.3699632  |
| 825 |        Hurst         | Texas |   38448    | 32.82346210000001  | -97.1705678  |
| 864 |        Plano         | Texas |   274409   |     33.0198431     | -96.6988856  |
| 866 |       Coppell        | Texas |   40342    |     32.9545687     | -97.0150078  |
| 869 |   College Station    | Texas |   100050   |     30.627977      | -96.3344068  |
| 890 |       Sherman        | Texas |   39296    | 33.635661799999994 | -96.6088805  |
| 896 |      Fort Worth      | Texas |   792727   |     32.7554883     | -97.3307658  |
| 906 |        Tyler         | Texas |   100223   | 32.351260100000005 | -95.3010624  |
| 908 |         Waco         | Texas |   129030   |     31.549333      | -97.1466695  |
| 922 |      Arlington       | Texas |   379577   |     32.735687      | -97.1080656  |
| 923 |      Lewisville      | Texas |   101074   |     33.046233      |  -96.994174  |
| 964 |     League City      | Texas |   90983    |     29.5074538     | -95.0949303  |
| 969 |      Cedar Hill      | Texas |   46663    |     32.5884689     | -96.9561152  |
| 977 |    Corpus Christi    | Texas |   316381   |     27.8005828     |  -97.396381  |
+-----+----------------------+-------+------------+--------------------+--------------+

In [ ]:
# 2
%%sql
select *
from data
where State='Texas'
order by Population desc
;

Running query in 'sqlite:///City.db'

+-----+----------------------+-------+------------+--------------------+--------------+
|  ID |         City         | State | Population |        lat         |     lon      |
+-----+----------------------+-------+------------+--------------------+--------------+
| 647 |       Houston        | Texas |  2195914   |     29.7604267     | -95.3698028  |
| 154 |     San Antonio      | Texas |  1409019   |     29.4241219     | -98.4936282  |
|  60 |        Dallas        | Texas |  1257676   |     32.7766642     | -96.7969879  |
| 250 |        Austin        | Texas |   885400   | 30.267153000000004 | -97.7430608  |
| 896 |      Fort Worth      | Texas |   792727   |     32.7554883     | -97.3307658  |
| 720 |       El Paso        | Texas |   674433   |     31.7775757     | -106.4424559 |
| 922 |      Arlington       | Texas |   379577   |     32.735687      | -97.1080656  |
| 977 |    Corpus Christi    | Texas |   316381   |     27.8005828     |  -97.396381  |
| 864 |        Plano         | Texas |   274409   |     33.0198431     | -96.6988856  |
| 281 |        Laredo        | Texas |   248142   | 27.530567100000003 | -99.4803241  |
|  21 |       Lubbock        | Texas |   239538   |     33.5778631     | -101.8551665 |
| 445 |       Garland        | Texas |   234566   |     32.912624      | -96.6388833  |
| 637 |        Irving        | Texas |   228653   | 32.814017699999994 | -96.9488945  |
| 381 |       Amarillo       | Texas |   196429   |     35.2219971     | -101.8312969 |
| 429 |    Grand Prairie     | Texas |   183372   |     32.7459645     | -96.9977846  |
| 241 |     Brownsville      | Texas |   181860   |     25.9017472     | -97.4974838  |
| 714 |       Pasadena       | Texas |   152735   |     29.6910625     | -95.2091006  |
| 375 |       McKinney       | Texas |   148559   | 33.197246500000006 | -96.6397822  |
| 443 |       Mesquite       | Texas |   143484   |     32.7667955     | -96.5991593  |
| 376 |       Killeen        | Texas |   137147   |     31.1171194     | -97.7277959  |
| 504 |        Frisco        | Texas |   136791   |     33.1506744     | -96.8236116  |
| 374 |       McAllen        | Texas |   136639   | 26.203407100000003 | -98.2300124  |
| 908 |         Waco         | Texas |   129030   |     31.549333      | -97.1466695  |
| 790 |      Carrollton      | Texas |   126700   | 32.975641499999995 | -96.8899636  |
| 200 |       Midland        | Texas |   123933   |     31.9973456     | -102.0779146 |
| 275 |        Denton        | Texas |   123099   |     33.2148412     | -97.1330683  |
| 175 |       Abilene        | Texas |   120099   |     32.4487364     | -99.7331439  |
| 650 |       Beaumont       | Texas |   117796   |     30.080174      | -94.1265562  |
| 658 |        Odessa        | Texas |   110720   |     31.8456816     | -102.3676431 |
| 807 |      Round Rock      | Texas |   109821   | 30.508255100000003 |  -97.678896  |
| 188 |    Wichita Falls     | Texas |   104898   | 33.913708500000006 | -98.4933873  |
| 583 |      Richardson      | Texas |   104475   | 32.948333500000004 | -96.7298519  |
| 923 |      Lewisville      | Texas |   101074   |     33.046233      |  -96.994174  |
| 906 |        Tyler         | Texas |   100223   | 32.351260100000005 | -95.3010624  |
| 142 |       Pearland       | Texas |   100065   |     29.5635666     | -95.2860474  |
| 869 |   College Station    | Texas |   100050   |     30.627977      | -96.3344068  |
| 356 |      San Angelo      | Texas |   97492    |     31.4637723     | -100.4370375 |
| 167 |        Allen         | Texas |   92020    |     33.1031744     | -96.6705503  |
| 964 |     League City      | Texas |   90983    |     29.5074538     | -95.0949303  |
| 306 |      Sugar Land      | Texas |   83860    |     29.6196787     | -95.6349463  |
| 394 |       Longview       | Texas |   81443    |     32.5007037     | -94.7404891  |
| 164 |       Mission        | Texas |   81050    |     26.2159066     | -98.3252932  |
| 726 |       Edinburg       | Texas |   80836    |     26.3017374     | -98.1633432  |
| 824 |        Bryan         | Texas |   78709    |     30.6743643     | -96.3699632  |
| 160 |       Baytown        | Texas |   75418    | 29.735504700000003 | -94.9774274  |
| 191 |        Pharr         | Texas |   73790    |     26.1947962     | -98.1836216  |
| 745 |        Temple        | Texas |   70190    |     31.0982344     |  -97.342782  |
| 189 |    Missouri City     | Texas |   70185    |     29.6185669     | -95.5377215  |
| 242 |     Flower Mound     | Texas |   68609    |     33.0145673     | -97.0969552  |
|  39 | North Richland Hills | Texas |   67317    |     32.8342952     | -97.2289029  |
| 273 |      Harlingen       | Texas |   65665    |     26.1906306     | -97.6961026  |
| 787 |       Victoria       | Texas |   65098    |     28.8052674     | -97.0035982  |
| 635 |    New Braunfels     | Texas |   63279    |     29.7030024     | -98.1244531  |
| 152 |        Conroe        | Texas |   63032    |     30.3118769     | -95.4560512  |
| 817 |      Cedar Park      | Texas |   61238    |     30.505198      | -97.8202888  |
| 247 |      Mansfield       | Texas |   60872    |     32.5631924     | -97.1416768  |
|  29 |       Rowlett        | Texas |   58043    |     32.9029017     |  -96.56388   |
| 676 |      Georgetown      | Texas |   54898    | 30.633261800000003 | -97.6779842  |
| 463 |     Port Arthur      | Texas |   54135    |     29.8849504     |  -93.939947  |
| 585 |      San Marcos      | Texas |   54076    |     29.8832749     | -97.9413941  |
| 775 |     Pflugerville     | Texas |   53752    |     30.4393696     | -97.6200043  |
| 697 |        Euless        | Texas |   53224    |     32.8370727     | -97.0819541  |
| 219 |        DeSoto        | Texas |   51483    | 32.589699800000005 | -96.8570738  |
| 243 |      Grapevine       | Texas |   50195    |     32.9342919     | -97.0780654  |
| 276 |      Galveston       | Texas |   48733    |     29.3013479     | -94.7976958  |
| 260 |       Bedford        | Texas |   48592    |     32.844017      | -97.1430671  |
| 969 |      Cedar Hill      | Texas |   46663    |     32.5884689     | -96.9561152  |
| 734 |      Texas City      | Texas |   46081    |     29.383845      | -94.9027002  |
| 789 |        Wylie         | Texas |   44575    |     33.0151201     | -96.5388789  |
| 283 |     Haltom City      | Texas |   43580    | 32.799573800000005 | -97.2691817  |
| 679 |        Keller        | Texas |   42907    |     32.9341893     |  -97.229298  |
| 207 |       Rockwall       | Texas |   40922    |     32.9312336     | -96.4597089  |
| 465 |       Burleson       | Texas |   40714    |     32.5420821     | -97.3208492  |
| 866 |       Coppell        | Texas |   40342    |     32.9545687     | -97.0150078  |
| 799 |      Huntsville      | Texas |   39795    | 30.723526300000003 | -95.5507771  |
| 310 |     Duncanville      | Texas |   39605    |     32.6518004     | -96.9083366  |
| 120 |      The Colony      | Texas |   39458    |     33.0806083     | -96.8928309  |
| 890 |       Sherman        | Texas |   39296    | 33.635661799999994 | -96.6088805  |
| 825 |        Hurst         | Texas |   38448    | 32.82346210000001  | -97.1705678  |
| 326 |      Lancaster       | Texas |   38071    |     32.5920798     | -96.7561082  |
| 811 |     Friendswood      | Texas |   37587    | 29.529399800000004 | -95.2010447  |
| 115 |      Texarkana       | Texas |   37442    |     33.425125      | -94.0476882  |
| 347 |       Weslaco        | Texas |   37093    |     26.1595194     | -97.9908366  |
+-----+----------------------+-------+------------+--------------------+--------------+

In [ ]:
# 3
%%sql
select *
from data
where State='Texas' and
      Population>1000000
order by Population desc
;

Running query in 'sqlite:///City.db'

+-----+-------------+-------+------------+------------+-------------+
|  ID |     City    | State | Population |    lat     |     lon     |
+-----+-------------+-------+------------+------------+-------------+
| 647 |   Houston   | Texas |  2195914   | 29.7604267 | -95.3698028 |
| 154 | San Antonio | Texas |  1409019   | 29.4241219 | -98.4936282 |
|  60 |    Dallas   | Texas |  1257676   | 32.7766642 | -96.7969879 |
+-----+-------------+-------+------------+------------+-------------+

In [ ]:
# 4 Arlington
%%sql
select max(Population) as MAX,
       City as C,
       State as S
from data
where State='Texas'
;

Running query in 'sqlite:///City.db'

+---------+---------+-------+
|   MAX   |    C    |   S   |
+---------+---------+-------+
| 2195914 | Houston | Texas |
+---------+---------+-------+

In [ ]:
%%sql
select max(Population) as MAX,
       City as C,
       State as S
from data
;

Running query in 'sqlite:///City.db'

+---------+----------+----------+
|   MAX   |    C     |    S     |
+---------+----------+----------+
| 8405837 | New York | New York |
+---------+----------+----------+

In [ ]:
%%sql
select max(Population) as MAX,
       City as C,
       State as S
from data
group by State
;

Running query in 'sqlite:///City.db'

+---------+----------------+----------------------+
|   MAX   |       C        |          S           |
+---------+----------------+----------------------+
|  212113 |   Birmingham   |       Alabama        |
|  300950 |   Anchorage    |        Alaska        |
| 1513367 |    Phoenix     |       Arizona        |
|  197357 |  Little Rock   |       Arkansas       |
| 3884307 |  Los Angeles   |      California      |
|  649495 |     Denver     |       Colorado       |
|  147216 |   Bridgeport   |     Connecticut      |
|  71525  |   Wilmington   |       Delaware       |
|  646449 |   Washington   | District of Columbia |
|  842583 |  Jacksonville  |       Florida        |
|  447841 |    Atlanta     |       Georgia        |
|  347884 |    Honolulu    |        Hawaii        |
|  214237 |   Boise City   |        Idaho         |
| 2718782 |    Chicago     |       Illinois       |
|  843393 |  Indianapolis  |       Indiana        |
|  207510 |   Des Moines   |         Iowa         |
|  386552 |    Wichita     |        Kansas        |
|  609893 |   Louisville   |       Kentucky       |
|  378715 |  New Orleans   |      Louisiana       |
|  66318  |    Portland    |        Maine         |
|  622104 |   Baltimore    |       Maryland       |
|  645966 |     Boston     |    Massachusetts     |
|  688701 |    Detroit     |       Michigan       |
|  400070 |  Minneapolis   |      Minnesota       |
|  172638 |    Jackson     |     Mississippi      |
|  467007 |  Kansas City   |       Missouri       |
|  109059 |    Billings    |       Montana        |
|  434353 |     Omaha      |       Nebraska       |
|  603488 |   Las Vegas    |        Nevada        |
|  110378 |   Manchester   |    New Hampshire     |
|  278427 |     Newark     |      New Jersey      |
|  556495 |  Albuquerque   |      New Mexico      |
| 8405837 |    New York    |       New York       |
|  792862 |   Charlotte    |    North Carolina    |
|  113658 |     Fargo      |     North Dakota     |
|  822553 |    Columbus    |         Ohio         |
|  610613 | Oklahoma City  |       Oklahoma       |
|  609456 |    Portland    |        Oregon        |
| 1553165 |  Philadelphia  |     Pennsylvania     |
|  177994 |   Providence   |     Rhode Island     |
|  133358 |    Columbia    |    South Carolina    |
|  164676 |  Sioux Falls   |     South Dakota     |
|  653450 |    Memphis     |      Tennessee       |
| 2195914 |    Houston     |        Texas         |
|  191180 | Salt Lake City |         Utah         |
|  42284  |   Burlington   |       Vermont        |
|  448479 | Virginia Beach |       Virginia       |
|  652405 |    Seattle     |      Washington      |
|  50821  |   Charleston   |    West Virginia     |
|  599164 |   Milwaukee    |      Wisconsin       |
|  62448  |    Cheyenne    |       Wyoming        |
+---------+----------------+----------------------+

In [ ]:
%%sql
select count(*) as N
from data
;

Running query in 'sqlite:///City.db'

+------+
|  N   |
+------+
| 1000 |
+------+

In [ ]:
%%sql
select count(*) as N,
       State,
       sum(Population) as Total
from data
group by State
;

Running query in 'sqlite:///City.db'

+-----+----------------------+----------+
|  N  |        State         |  Total   |
+-----+----------------------+----------+
|  12 |       Alabama        | 1279813  |
|  1  |        Alaska        |  300950  |
|  25 |       Arizona        | 4691466  |
|  10 |       Arkansas       |  787011  |
| 212 |      California      | 27910620 |
|  21 |       Colorado       | 3012284  |
|  15 |     Connecticut      | 1239817  |
|  2  |       Delaware       |  108891  |
|  1  | District of Columbia |  646449  |
|  73 |       Florida        | 7410114  |
|  18 |       Georgia        | 1995615  |
|  1  |        Hawaii        |  347884  |
|  8  |        Idaho         |  638333  |
|  52 |       Illinois       | 6055539  |
|  21 |       Indiana        | 2393472  |
|  13 |         Iowa         | 1037690  |
|  11 |        Kansas        | 1327215  |
|  5  |       Kentucky       | 1079181  |
|  9  |      Louisiana       | 1238263  |
|  1  |        Maine         |  66318   |
|  7  |       Maryland       |  954852  |
|  36 |    Massachusetts     | 3007084  |
|  31 |       Michigan       | 2979267  |
|  24 |      Minnesota       | 2055749  |
|  6  |     Mississippi      |  427944  |
|  16 |       Missouri       | 1843953  |
|  4  |       Montana        |  277392  |
|  4  |       Nebraska       |  807304  |
|  6  |        Nevada        | 1481832  |
|  3  |    New Hampshire     |  239934  |
|  22 |      New Jersey      | 1859793  |
|  7  |      New Mexico      |  953296  |
|  17 |       New York       | 9933332  |
|  22 |    North Carolina    | 3358746  |
|  4  |     North Dakota     |  281945  |
|  33 |         Ohio         | 3480839  |
|  11 |       Oklahoma       | 1666530  |
|  14 |        Oregon        | 1680656  |
|  13 |     Pennsylvania     | 2598080  |
|  6  |     Rhode Island     |  499878  |
|  12 |    South Carolina    |  812734  |
|  2  |     South Dakota     |  235488  |
|  17 |      Tennessee       | 2483464  |
|  83 |        Texas         | 14836230 |
|  19 |         Utah         | 1440569  |
|  1  |       Vermont        |  42284   |
|  17 |       Virginia       | 2236964  |
|  28 |      Washington      | 2956938  |
|  2  |    West Virginia     |  99998   |
|  20 |      Wisconsin       | 1910367  |
|  2  |       Wyoming        |  122076  |
+-----+----------------------+----------+

In [ ]:
%%sql
select sum(Population) as Total
from data
;

Running query in 'sqlite:///City.db'

+-----------+
|   Total   |
+-----------+
| 131132443 |
+-----------+

In [ ]:
%%sql
select sum(Population) as Total,
       State
from data
group by State
;

Running query in 'sqlite:///City.db'

+----------+----------------------+
|  Total   |        State         |
+----------+----------------------+
| 1279813  |       Alabama        |
|  300950  |        Alaska        |
| 4691466  |       Arizona        |
|  787011  |       Arkansas       |
| 27910620 |      California      |
| 3012284  |       Colorado       |
| 1239817  |     Connecticut      |
|  108891  |       Delaware       |
|  646449  | District of Columbia |
| 7410114  |       Florida        |
| 1995615  |       Georgia        |
|  347884  |        Hawaii        |
|  638333  |        Idaho         |
| 6055539  |       Illinois       |
| 2393472  |       Indiana        |
| 1037690  |         Iowa         |
| 1327215  |        Kansas        |
| 1079181  |       Kentucky       |
| 1238263  |      Louisiana       |
|  66318   |        Maine         |
|  954852  |       Maryland       |
| 3007084  |    Massachusetts     |
| 2979267  |       Michigan       |
| 2055749  |      Minnesota       |
|  427944  |     Mississippi      |
| 1843953  |       Missouri       |
|  277392  |       Montana        |
|  807304  |       Nebraska       |
| 1481832  |        Nevada        |
|  239934  |    New Hampshire     |
| 1859793  |      New Jersey      |
|  953296  |      New Mexico      |
| 9933332  |       New York       |
| 3358746  |    North Carolina    |
|  281945  |     North Dakota     |
| 3480839  |         Ohio         |
| 1666530  |       Oklahoma       |
| 1680656  |        Oregon        |
| 2598080  |     Pennsylvania     |
|  499878  |     Rhode Island     |
|  812734  |    South Carolina    |
|  235488  |     South Dakota     |
| 2483464  |      Tennessee       |
| 14836230 |        Texas         |
| 1440569  |         Utah         |
|  42284   |       Vermont        |
| 2236964  |       Virginia       |
| 2956938  |      Washington      |
|  99998   |    West Virginia     |
| 1910367  |      Wisconsin       |
|  122076  |       Wyoming        |
+----------+----------------------+

In [ ]:
%%sql
select sum(Population) as Total,
       State
from data
group by State
having sum(Population)>1000000
;

Running query in 'sqlite:///City.db'

+----------+----------------+
|  Total   |     State      |
+----------+----------------+
| 1279813  |    Alabama     |
| 4691466  |    Arizona     |
| 27910620 |   California   |
| 3012284  |    Colorado    |
| 1239817  |  Connecticut   |
| 7410114  |    Florida     |
| 1995615  |    Georgia     |
| 6055539  |    Illinois    |
| 2393472  |    Indiana     |
| 1037690  |      Iowa      |
| 1327215  |     Kansas     |
| 1079181  |    Kentucky    |
| 1238263  |   Louisiana    |
| 3007084  | Massachusetts  |
| 2979267  |    Michigan    |
| 2055749  |   Minnesota    |
| 1843953  |    Missouri    |
| 1481832  |     Nevada     |
| 1859793  |   New Jersey   |
| 9933332  |    New York    |
| 3358746  | North Carolina |
| 3480839  |      Ohio      |
| 1666530  |    Oklahoma    |
| 1680656  |     Oregon     |
| 2598080  |  Pennsylvania  |
| 2483464  |   Tennessee    |
| 14836230 |     Texas      |
| 1440569  |      Utah      |
| 2236964  |    Virginia    |
| 2956938  |   Washington   |
| 1910367  |   Wisconsin    |
+----------+----------------+

In [ ]:
# 5
%%sql
select count(*) as N,
       State,
       max(Population) as MAX,
       min(Population) as MIN,
       sum(Population) as Total,
       avg(Population) as AVG
from data
where State='Texas'
;

Running query in 'sqlite:///City.db'

+----+-------+---------+-------+----------+-------------------+
| N  | State |   MAX   |  MIN  |  Total   |        AVG        |
+----+-------+---------+-------+----------+-------------------+
| 83 | Texas | 2195914 | 37093 | 14836230 | 178749.7590361446 |
+----+-------+---------+-------+----------+-------------------+

In [ ]:
%%sql
select count(*) as N,
       State,
       max(Population) as MAX,
       min(Population) as MIN,
       sum(Population) as Total,
       avg(Population) as AVG
from data
group by State
;

Running query in 'sqlite:///City.db'

+-----+----------------------+---------+--------+----------+--------------------+
|  N  |        State         |   MAX   |  MIN   |  Total   |        AVG         |
+-----+----------------------+---------+--------+----------+--------------------+
|  12 |       Alabama        |  212113 | 37498  | 1279813  | 106651.08333333333 |
|  1  |        Alaska        |  300950 | 300950 |  300950  |      300950.0      |
|  25 |       Arizona        | 1513367 | 37130  | 4691466  |     187658.64      |
|  10 |       Arkansas       |  197357 | 40167  |  787011  |      78701.1       |
| 212 |      California      | 3884307 | 37101  | 27910620 | 131653.8679245283  |
|  21 |       Colorado       |  649495 | 37499  | 3012284  | 143442.09523809524 |
|  15 |     Connecticut      |  147216 | 40347  | 1239817  | 82654.46666666666  |
|  2  |       Delaware       |  71525  | 37366  |  108891  |      54445.5       |
|  1  | District of Columbia |  646449 | 646449 |  646449  |      646449.0      |
|  73 |       Florida        |  842583 | 36877  | 7410114  | 101508.4109589041  |
|  18 |       Georgia        |  447841 | 40059  | 1995615  |      110867.5      |
|  1  |        Hawaii        |  347884 | 347884 |  347884  |      347884.0      |
|  8  |        Idaho         |  214237 | 45981  |  638333  |     79791.625      |
|  52 |       Illinois       | 2718782 | 37240  | 6055539  | 116452.67307692308 |
|  21 |       Indiana        |  843393 | 45775  | 2393472  | 113974.85714285714 |
|  13 |         Iowa         |  207510 | 40566  | 1037690  | 79822.30769230769  |
|  11 |        Kansas        |  386552 | 41889  | 1327215  | 120655.90909090909 |
|  5  |       Kentucky       |  609893 | 40956  | 1079181  |      215836.2      |
|  9  |      Louisiana       |  378715 | 48426  | 1238263  | 137584.77777777778 |
|  1  |        Maine         |  66318  | 66318  |  66318   |      66318.0       |
|  7  |       Maryland       |  622104 | 38722  |  954852  | 136407.42857142858 |
|  36 |    Massachusetts     |  645966 | 37670  | 3007084  | 83530.11111111111  |
|  31 |       Michigan       |  688701 | 37213  | 2979267  |  96105.3870967742  |
|  24 |      Minnesota       |  400070 | 39167  | 2055749  | 85656.20833333333  |
|  6  |     Mississippi      |  172638 | 40921  |  427944  |      71324.0       |
|  16 |       Missouri       |  467007 | 38816  | 1843953  |    115247.0625     |
|  4  |       Montana        |  109059 | 39860  |  277392  |      69348.0       |
|  4  |       Nebraska       |  434353 | 50550  |  807304  |      201826.0      |
|  6  |        Nevada        |  603488 | 54080  | 1481832  |      246972.0      |
|  3  |    New Hampshire     |  110378 | 42419  |  239934  |      79978.0       |
|  22 |      New Jersey      |  278427 | 39551  | 1859793  | 84536.04545454546  |
|  7  |      New Mexico      |  556495 | 39508  |  953296  | 136185.14285714287 |
|  17 |       New York       | 8405837 | 37659  | 9933332  | 584313.6470588235  |
|  22 |    North Carolina    |  792862 | 40361  | 3358746  | 152670.27272727274 |
|  4  |     North Dakota     |  113658 | 46321  |  281945  |      70486.25      |
|  33 |         Ohio         |  822553 | 37490  | 3480839  | 105479.9696969697  |
|  11 |       Oklahoma       |  610613 | 38863  | 1666530  | 151502.72727272726 |
|  14 |        Oregon        |  609456 | 37064  | 1680656  | 120046.85714285714 |
|  13 |     Pennsylvania     | 1553165 | 41108  | 2598080  | 199852.3076923077  |
|  6  |     Rhode Island     |  177994 | 41026  |  499878  |      83313.0       |
|  12 |    South Carolina    |  133358 | 37647  |  812734  | 67727.83333333333  |
|  2  |     South Dakota     |  164676 | 70812  |  235488  |      117744.0      |
|  17 |      Tennessee       |  653450 | 39375  | 2483464  | 146086.11764705883 |
|  83 |        Texas         | 2195914 | 37093  | 14836230 | 178749.7590361446  |
|  19 |         Utah         |  191180 | 36956  | 1440569  | 75819.42105263157  |
|  1  |       Vermont        |  42284  | 42284  |  42284   |      42284.0       |
|  17 |       Virginia       |  448479 | 41705  | 2236964  | 131586.11764705883 |
|  28 |      Washington      |  652405 | 38609  | 2956938  | 105604.92857142857 |
|  2  |    West Virginia     |  50821  | 49177  |  99998   |      49999.0       |
|  20 |      Wisconsin       |  599164 | 36888  | 1910367  |      95518.35      |
|  2  |       Wyoming        |  62448  | 59628  |  122076  |      61038.0       |
+-----+----------------------+---------+--------+----------+--------------------+

In [ ]:
%%sql
select max(Population) as MAX,
       City,
       State
from data
group by State
order by MAX desc
;

Running query in 'sqlite:///City.db'

+---------+----------------+----------------------+
|   MAX   |      City      |        State         |
+---------+----------------+----------------------+
| 8405837 |    New York    |       New York       |
| 3884307 |  Los Angeles   |      California      |
| 2718782 |    Chicago     |       Illinois       |
| 2195914 |    Houston     |        Texas         |
| 1553165 |  Philadelphia  |     Pennsylvania     |
| 1513367 |    Phoenix     |       Arizona        |
|  843393 |  Indianapolis  |       Indiana        |
|  842583 |  Jacksonville  |       Florida        |
|  822553 |    Columbus    |         Ohio         |
|  792862 |   Charlotte    |    North Carolina    |
|  688701 |    Detroit     |       Michigan       |
|  653450 |    Memphis     |      Tennessee       |
|  652405 |    Seattle     |      Washington      |
|  649495 |     Denver     |       Colorado       |
|  646449 |   Washington   | District of Columbia |
|  645966 |     Boston     |    Massachusetts     |
|  622104 |   Baltimore    |       Maryland       |
|  610613 | Oklahoma City  |       Oklahoma       |
|  609893 |   Louisville   |       Kentucky       |
|  609456 |    Portland    |        Oregon        |
|  603488 |   Las Vegas    |        Nevada        |
|  599164 |   Milwaukee    |      Wisconsin       |
|  556495 |  Albuquerque   |      New Mexico      |
|  467007 |  Kansas City   |       Missouri       |
|  448479 | Virginia Beach |       Virginia       |
|  447841 |    Atlanta     |       Georgia        |
|  434353 |     Omaha      |       Nebraska       |
|  400070 |  Minneapolis   |      Minnesota       |
|  386552 |    Wichita     |        Kansas        |
|  378715 |  New Orleans   |      Louisiana       |
|  347884 |    Honolulu    |        Hawaii        |
|  300950 |   Anchorage    |        Alaska        |
|  278427 |     Newark     |      New Jersey      |
|  214237 |   Boise City   |        Idaho         |
|  212113 |   Birmingham   |       Alabama        |
|  207510 |   Des Moines   |         Iowa         |
|  197357 |  Little Rock   |       Arkansas       |
|  191180 | Salt Lake City |         Utah         |
|  177994 |   Providence   |     Rhode Island     |
|  172638 |    Jackson     |     Mississippi      |
|  164676 |  Sioux Falls   |     South Dakota     |
|  147216 |   Bridgeport   |     Connecticut      |
|  133358 |    Columbia    |    South Carolina    |
|  113658 |     Fargo      |     North Dakota     |
|  110378 |   Manchester   |    New Hampshire     |
|  109059 |    Billings    |       Montana        |
|  71525  |   Wilmington   |       Delaware       |
|  66318  |    Portland    |        Maine         |
|  62448  |    Cheyenne    |       Wyoming        |
|  50821  |   Charleston   |    West Virginia     |
|  42284  |   Burlington   |       Vermont        |
+---------+----------------+----------------------+

List all cities in Texas.

List all cities in Texas and order by population (descending).

List all cities in Texas with population > 50,000, ordered by population (descending).

Find the single city with the largest population in Texas.

In Texas, report the count of cities, max population, min population, and sum of population.

List all cities located in Texas or Florida.

For each state, report the number of cities and order by that count (descending).

For each state, report the number of cities, max population, min population, and sum of population; order by the number of cities (descending).

For each state, find the city with the largest population and order the results by population (descending).

For each state, report the sum of population and order by that sum (descending).

For each state, report the number of cities; keep only states with > 50 cities and order by the number of cities (descending).