In [ ]:
cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L28"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L28

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content/drive/My Drive/Colab Notebooks/ANLY2500_01_Fall2025/LC/L28'

In [ ]:
%ls

L28_LCP.ipynb  sales.db

In [ ]:
%pip install jupysql duckdb duckdb-engine --quiet
# Load the SQL extension
%load_ext sql
# Setting: Show all rows
%config SqlMagic.displaylimit = None
# Connect to SQLite database
%sql sqlite:///sales.db


# Show tables
%sqlcmd tables


# Show columns in a table
%sqlcmd columns -t sale

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 4.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 4.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 11.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.7/144.7 kB 12.7 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

Connecting to 'sqlite:///sales.db'

+------------------+---------+----------+---------+-------------+
|       name       |   type  | nullable | default | primary_key |
+------------------+---------+----------+---------+-------------+
|      RowNO       | INTEGER |   True   |   None  |      0      |
|     SaleDate     |   TEXT  |   True   |   None  |      0      |
|    CustomerID    | INTEGER |   True   |   None  |      0      |
|    FirstName     |   TEXT  |   True   |   None  |      0      |
|     LastName     |   TEXT  |   True   |   None  |      0      |
|     OrderID      | INTEGER |   True   |   None  |      0      |
|   ProductName    |   TEXT  |   True   |   None  |      0      |
|     Category     |   TEXT  |   True   |   None  |      0      |
|      Color       |   TEXT  |   True   |   None  |      0      |
|    SalePrice     |   REAL  |   True   |   None  |      0      |
|     Quantity     | INTEGER |   True   |   None  |      0      |
| ManufacturerName |   TEXT  |   True   |   None  |      0      |
+------------------+---------+----------+---------+-------------+

In [ ]:
%%sql
select *
from sale
limit 10
;

Running query in 'sqlite:///sales.db'

+-------+------------+------------+-----------+-----------+---------+-----------------------------------------+----------+--------------+-----------+----------+------------------+
| RowNO |  SaleDate  | CustomerID | FirstName |  LastName | OrderID |               ProductName               | Category |    Color     | SalePrice | Quantity | ManufacturerName |
+-------+------------+------------+-----------+-----------+---------+-----------------------------------------+----------+--------------+-----------+----------+------------------+
|   1   | 12/31/2013 |    1134    |  Xiafeng  |    Wang   |  191228 |        be mini vulc wns sneakers        | sneakers |    Black     |   57.65   |    1     |       Puma       |
|   2   | 12/31/2013 |    1134    |  Xiafeng  |    Wang   |  191228 |              liga sneakers              | sneakers |     Blue     |   63.05   |    1     |       Puma       |
|   3   | 12/31/2013 |    1134    |  Xiafeng  |    Wang   |  191228 |     nike air max correlate sneakers     | sneakers |    Black     |    96.6   |    1     |       Nike       |
|   4   | 12/31/2013 |    1134    |  Xiafeng  |    Wang   |  191228 |     timberland icon 6" premium boots    |  boots   |    Black     |   116.99  |    1     |    Timberland    |
|   5   | 12/31/2013 |    1134    |  Xiafeng  |    Wang   |  191228 |        torry wedge tapestry wedge       |  wedges  | Green,Multi  |   15.29   |    2     |   Fashion Lab    |
|   6   | 12/31/2013 |   14958    |  Russell  |   Baker   |  191229 |  juno buckle animal trim wedge sneaker  |  boots   | Animal Print |   22.99   |    1     |  Apple Bottoms   |
|   7   | 12/31/2013 |    3275    |  Herschel |  Webster  |  191230 |          suede classic sneakers         | sneakers |    Purple    |    53.1   |    1     |       Puma       |
|   8   |  1/1/2014  |   17448    |  Margret  |  Gilmore  |  191231 | natalia high platform suede fringe boot |  boots   |    Black     |   50.04   |    2     |      Dereon      |
|   9   |  1/1/2014  |   11852    |    Ken    |   Carey   |  191232 |           nyc 83 vlc sneakers           | sneakers |    Black     |    72.0   |    1     |      Osiris      |
|   10  |  1/1/2014  |    5230    |    Toru   | Sakaguchi |  191233 |                 chehalis                | sneakers |    Black     |   16.48   |    1     |  Royal Elastics  |
+-------+------------+------------+-----------+-----------+---------+-----------------------------------------+----------+--------------+-----------+----------+------------------+

In [ ]:
## top 10 manufacturer with largest revenue
%%sql
select ManufacturerName,
       sum(SalePrice*Quantity) as TotalRevenue,
       sum(Quantity) as TotalPairs
from sale
group by ManufacturerName
order by TotalRevenue desc
limit 10
;

Running query in 'sqlite:///sales.db'

+---------------------+--------------------+------------+
|   ManufacturerName  |    TotalRevenue    | TotalPairs |
+---------------------+--------------------+------------+
|         Nike        | 109599.5700000001  |    1517    |
|        Adidas       | 104418.25000000006 |    1431    |
|     Fashion Lab     | 73795.86000000012  |    2548    |
| Creative Recreation | 50428.97999999998  |    778     |
|         Puma        | 44206.17000000002  |    606     |
|        Reebok       | 39640.060000000056 |    467     |
|        Supra        | 38836.91000000001  |    613     |
|         Fila        | 32040.12000000006  |    588     |
|        Osiris       | 28991.08000000001  |    461     |
|      Timberland     | 28030.980000000014 |    340     |
+---------------------+--------------------+------------+

In [ ]:
%%sql
select ManufacturerName,
       sum(SalePrice*Quantity) as TotalRevenue,
       sum(Quantity) as TotalPairs
from sale
group by ManufacturerName
order by TotalPairs desc
limit 10
;

Running query in 'sqlite:///sales.db'

+---------------------+--------------------+------------+
|   ManufacturerName  |    TotalRevenue    | TotalPairs |
+---------------------+--------------------+------------+
|     Fashion Lab     | 73795.86000000012  |    2548    |
|         Nike        | 109599.5700000001  |    1517    |
|        Adidas       | 104418.25000000006 |    1431    |
|    Apple Bottoms    | 25684.050000000036 |    869     |
| Creative Recreation | 50428.97999999998  |    778     |
|     Buyers Picks    | 21863.17000000002  |    657     |
|        Supra        | 38836.91000000001  |    613     |
|         Puma        | 44206.17000000002  |    606     |
|         Fila        | 32040.12000000006  |    588     |
|        Reebok       | 39640.060000000056 |    467     |
+---------------------+--------------------+------------+

In [ ]:
# 6
%%sql
select ProductName,
       max(SalePrice) as SalePrice
from sale
;

Running query in 'sqlite:///sales.db'

+------------------------------+-----------+
|         ProductName          | SalePrice |
+------------------------------+-----------+
| wmns air max 2013 + sneakers |   180.0   |
+------------------------------+-----------+

In [ ]:
# 7
%%sql
select sum(SalePrice*Quantity) as TotalRevenue,
       ManufacturerName
from sale
group by ManufacturerName
;

Running query in 'sqlite:///sales.db'

+--------------------+-----------------------+
|    TotalRevenue    |    ManufacturerName   |
+--------------------+-----------------------+
| 6524.439999999995  |  AH by Android Homme  |
| 104418.25000000006 |         Adidas        |
|  9135.84999999999  |       Akademiks       |
| 25684.050000000036 |     Apple Bottoms     |
|       18.79        |       Baby Phat       |
|      1430.05       |    Basic Essentials   |
| 1717.1399999999994 |        Bearpaw        |
| 21863.17000000002  |      Buyers Picks     |
| 15867.97999999999  |         COOGI         |
| 1106.3999999999999 |   Cadillac Footwear   |
|      16741.42      |        Converse       |
| 50428.97999999998  |  Creative Recreation  |
| 997.2799999999999  |    Crooks & Castles   |
|       551.15       |    Cute To The Core   |
| 8250.010000000002  |        DC Shoes       |
|       30.99        |      DVS Shoe Co.     |
| 1180.0299999999997 |         Dereon        |
| 3515.1200000000003 |       Diba True       |
| 41.980000000000004 |        Ed Hardy       |
| 6946.009999999997  |        Emerica        |
| 2043.6000000000004 | Famous Stars & Straps |
| 73795.86000000012  |      Fashion Lab      |
| 32040.12000000006  |          Fila         |
|       44.15        |   Florsheim Limited   |
|       21.33        |    Generic Surplus    |
|      4502.71       |        Gourmet        |
|       44.14        |     Greedy Geniu$     |
|      2114.47       |        Grenade        |
| 1503.4899999999998 |          HUF          |
| 2426.6999999999994 |          Keds         |
| 5779.029999999995  |          LRG          |
| 2862.2399999999993 |         Lakai         |
| 2690.9000000000005 |          Levi         |
| 3254.8999999999987 |          Lugz         |
|      2209.22       |        Luichiny       |
| 329.63999999999993 |          MO7          |
| 787.3500000000003  |         Mecca         |
|       93.43        |     Mountain Gear     |
| 8860.219999999996  |      New Balance      |
| 109599.5700000001  |          Nike         |
| 2122.2999999999997 |       Not Rated       |
| 28991.08000000001  |         Osiris        |
| 2817.2200000000003 |         Pastry        |
| 9642.599999999991  |      Pelle Pelle      |
| 5948.999999999999  |        Psyberia       |
| 44206.17000000002  |          Puma         |
| 15772.930000000002 |     Radii Footwear    |
|       113.44       |      Ralph Lauren     |
| 39640.060000000056 |         Reebok        |
|      6259.53       |        Rocawear       |
|      1365.87       |         Rothco        |
| 3943.1799999999967 |     Royal Elastics    |
| 10764.539999999994 |         Sebago        |
| 85.75999999999999  |         Shmack        |
| 1205.8500000000001 |      Steve Madden     |
| 38836.91000000001  |         Supra         |
|       68.39        |     The Skate Shop    |
| 28030.980000000014 |       Timberland      |
| 2060.3900000000003 |     Two Lip Shoes     |
|       131.21       |  Unstitched Utilities |
|       86.44        |          XOXO         |
| 4053.2699999999995 |         Y.R.U.        |
+--------------------+-----------------------+

In [ ]:
%%sql
select sum(SalePrice*Quantity) as TotalRevenue,
       ManufacturerName
from sale
group by ManufacturerName
order by TotalRevenue desc
;

Running query in 'sqlite:///sales.db'

+--------------------+-----------------------+
|    TotalRevenue    |    ManufacturerName   |
+--------------------+-----------------------+
| 109599.5700000001  |          Nike         |
| 104418.25000000006 |         Adidas        |
| 73795.86000000012  |      Fashion Lab      |
| 50428.97999999998  |  Creative Recreation  |
| 44206.17000000002  |          Puma         |
| 39640.060000000056 |         Reebok        |
| 38836.91000000001  |         Supra         |
| 32040.12000000006  |          Fila         |
| 28991.08000000001  |         Osiris        |
| 28030.980000000014 |       Timberland      |
| 25684.050000000036 |     Apple Bottoms     |
| 21863.17000000002  |      Buyers Picks     |
|      16741.42      |        Converse       |
| 15867.97999999999  |         COOGI         |
| 15772.930000000002 |     Radii Footwear    |
| 10764.539999999994 |         Sebago        |
| 9642.599999999991  |      Pelle Pelle      |
|  9135.84999999999  |       Akademiks       |
| 8860.219999999996  |      New Balance      |
| 8250.010000000002  |        DC Shoes       |
| 6946.009999999997  |        Emerica        |
| 6524.439999999995  |  AH by Android Homme  |
|      6259.53       |        Rocawear       |
| 5948.999999999999  |        Psyberia       |
| 5779.029999999995  |          LRG          |
|      4502.71       |        Gourmet        |
| 4053.2699999999995 |         Y.R.U.        |
| 3943.1799999999967 |     Royal Elastics    |
| 3515.1200000000003 |       Diba True       |
| 3254.8999999999987 |          Lugz         |
| 2862.2399999999993 |         Lakai         |
| 2817.2200000000003 |         Pastry        |
| 2690.9000000000005 |          Levi         |
| 2426.6999999999994 |          Keds         |
|      2209.22       |        Luichiny       |
| 2122.2999999999997 |       Not Rated       |
|      2114.47       |        Grenade        |
| 2060.3900000000003 |     Two Lip Shoes     |
| 2043.6000000000004 | Famous Stars & Straps |
| 1717.1399999999994 |        Bearpaw        |
| 1503.4899999999998 |          HUF          |
|      1430.05       |    Basic Essentials   |
|      1365.87       |         Rothco        |
| 1205.8500000000001 |      Steve Madden     |
| 1180.0299999999997 |         Dereon        |
| 1106.3999999999999 |   Cadillac Footwear   |
| 997.2799999999999  |    Crooks & Castles   |
| 787.3500000000003  |         Mecca         |
|       551.15       |    Cute To The Core   |
| 329.63999999999993 |          MO7          |
|       131.21       |  Unstitched Utilities |
|       113.44       |      Ralph Lauren     |
|       93.43        |     Mountain Gear     |
|       86.44        |          XOXO         |
| 85.75999999999999  |         Shmack        |
|       68.39        |     The Skate Shop    |
|       44.15        |   Florsheim Limited   |
|       44.14        |     Greedy Geniu$     |
| 41.980000000000004 |        Ed Hardy       |
|       30.99        |      DVS Shoe Co.     |
|       21.33        |    Generic Surplus    |
|       18.79        |       Baby Phat       |
+--------------------+-----------------------+

In [ ]:
%%sql
select sum(SalePrice*Quantity) as TotalRevenue,
       ManufacturerName
from sale
group by ManufacturerName
order by sum(SalePrice*Quantity) desc
limit 3
;

Running query in 'sqlite:///sales.db'

+--------------------+------------------+
|    TotalRevenue    | ManufacturerName |
+--------------------+------------------+
| 109599.5700000001  |       Nike       |
| 104418.25000000006 |      Adidas      |
| 73795.86000000012  |   Fashion Lab    |
+--------------------+------------------+

In [ ]:
# 8
#
%%sql
select sum(Quantity) as TotalPairs,
       CustomerID,
       FirstName,
       LastName
from sale
group by CustomerID
order by TotalPairs desc
limit 1
;

Running query in 'sqlite:///sales.db'

+------------+------------+-----------+----------+
| TotalPairs | CustomerID | FirstName | LastName |
+------------+------------+-----------+----------+
|     44     |    5135    |   Magnus  |  Ramage  |
+------------+------------+-----------+----------+

In [ ]:
# 9
# having where
%%sql
select sum(Quantity) as TotalPairsSold,
       OrderID
from sale
group by OrderID
having sum(Quantity)>5
order by TotalPairsSold desc
;

Running query in 'sqlite:///sales.db'

+----------------+---------+
| TotalPairsSold | OrderID |
+----------------+---------+
|       11       |  195381 |
|       11       |  193256 |
|       11       |  192262 |
|       10       |  195442 |
|       10       |  195360 |
|       10       |  195097 |
|       10       |  195042 |
|       10       |  193878 |
|       10       |  193871 |
|       10       |  193647 |
|       10       |  193626 |
|       10       |  193572 |
|       10       |  193570 |
|       10       |  193310 |
|       10       |  192912 |
|       10       |  192718 |
|       10       |  192541 |
|       10       |  192433 |
|       10       |  192353 |
|       10       |  192017 |
|       10       |  191985 |
|       10       |  191901 |
|       10       |  191482 |
|       9        |  195413 |
|       9        |  195389 |
|       9        |  195372 |
|       9        |  195233 |
|       9        |  195207 |
|       9        |  195199 |
|       9        |  195177 |
|       9        |  195168 |
|       9        |  195000 |
|       9        |  194922 |
|       9        |  194843 |
|       9        |  194726 |
|       9        |  194675 |
|       9        |  194564 |
|       9        |  194550 |
|       9        |  194512 |
|       9        |  194407 |
|       9        |  194374 |
|       9        |  194361 |
|       9        |  194354 |
|       9        |  194244 |
|       9        |  194224 |
|       9        |  194176 |
|       9        |  194078 |
|       9        |  194077 |
|       9        |  194063 |
|       9        |  194045 |
|       9        |  193933 |
|       9        |  193855 |
|       9        |  193815 |
|       9        |  193803 |
|       9        |  193795 |
|       9        |  193730 |
|       9        |  193681 |
|       9        |  193661 |
|       9        |  193656 |
|       9        |  193584 |
|       9        |  193552 |
|       9        |  193541 |
|       9        |  193539 |
|       9        |  193517 |
|       9        |  193498 |
|       9        |  193403 |
|       9        |  193332 |
|       9        |  193292 |
|       9        |  193235 |
|       9        |  193185 |
|       9        |  193134 |
|       9        |  193129 |
|       9        |  193094 |
|       9        |  193044 |
|       9        |  192965 |
|       9        |  192877 |
|       9        |  192858 |
|       9        |  192837 |
|       9        |  192764 |
|       9        |  192629 |
|       9        |  192565 |
|       9        |  192534 |
|       9        |  192528 |
|       9        |  192489 |
|       9        |  192422 |
|       9        |  192417 |
|       9        |  192394 |
|       9        |  192385 |
|       9        |  192342 |
|       9        |  192332 |
|       9        |  192212 |
|       9        |  192209 |
|       9        |  192187 |
|       9        |  192091 |
|       9        |  192068 |
|       9        |  192058 |
|       9        |  192001 |
|       9        |  191996 |
|       9        |  191952 |
|       9        |  191947 |
|       9        |  191873 |
|       9        |  191791 |
|       9        |  191748 |
|       9        |  191734 |
|       9        |  191645 |
|       9        |  191642 |
|       9        |  191622 |
|       9        |  191617 |
|       9        |  191521 |
|       9        |  191461 |
|       9        |  191447 |
|       9        |  191416 |
|       9        |  191398 |
|       9        |  191345 |
|       9        |  191343 |
|       9        |  191315 |
|       9        |  191298 |
|       9        |  191294 |
|       8        |  195505 |
|       8        |  195502 |
|       8        |  195499 |
|       8        |  195451 |
|       8        |  195437 |
|       8        |  195363 |
|       8        |  195359 |
|       8        |  195339 |
|       8        |  195337 |
|       8        |  195307 |
|       8        |  195306 |
|       8        |  195293 |
|       8        |  195291 |
|       8        |  195285 |
|       8        |  195283 |
|       8        |  195250 |
|       8        |  195221 |
|       8        |  195216 |
|       8        |  195209 |
|       8        |  195179 |
|       8        |  195172 |
|       8        |  195167 |
|       8        |  195160 |
|       8        |  195157 |
|       8        |  195148 |
|       8        |  195137 |
|       8        |  195107 |
|       8        |  195092 |
|       8        |  195089 |
|       8        |  195086 |
|       8        |  195079 |
|       8        |  195073 |
|       8        |  195067 |
|       8        |  195061 |
|       8        |  195019 |
|       8        |  195005 |
|       8        |  194984 |
|       8        |  194955 |
|       8        |  194946 |
|       8        |  194940 |
|       8        |  194877 |
|       8        |  194847 |
|       8        |  194845 |
|       8        |  194791 |
|       8        |  194790 |
|       8        |  194764 |
|       8        |  194755 |
|       8        |  194706 |
|       8        |  194702 |
|       8        |  194695 |
|       8        |  194689 |
|       8        |  194687 |
|       8        |  194650 |
|       8        |  194623 |
|       8        |  194613 |
|       8        |  194611 |
|       8        |  194609 |
|       8        |  194588 |
|       8        |  194542 |
|       8        |  194536 |
|       8        |  194496 |
|       8        |  194493 |
|       8        |  194488 |
|       8        |  194486 |
|       8        |  194470 |
|       8        |  194450 |
|       8        |  194419 |
|       8        |  194414 |
|       8        |  194385 |
|       8        |  194366 |
|       8        |  194356 |
|       8        |  194347 |
|       8        |  194317 |
|       8        |  194295 |
|       8        |  194293 |
|       8        |  194285 |
|       8        |  194284 |
|       8        |  194274 |
|       8        |  194273 |
|       8        |  194261 |
|       8        |  194243 |
|       8        |  194214 |
|       8        |  194156 |
|       8        |  194155 |
|       8        |  194146 |
|       8        |  194080 |
|       8        |  194004 |
|       8        |  193997 |
|       8        |  193973 |
|       8        |  193934 |
|       8        |  193909 |
|       8        |  193900 |
|       8        |  193895 |
|       8        |  193888 |
|       8        |  193884 |
|       8        |  193834 |
|       8        |  193826 |
|       8        |  193808 |
|       8        |  193791 |
|       8        |  193775 |
|       8        |  193768 |
|       8        |  193755 |
|       8        |  193734 |
|       8        |  193706 |
|       8        |  193676 |
|       8        |  193609 |
|       8        |  193606 |
|       8        |  193588 |
|       8        |  193587 |
|       8        |  193585 |
|       8        |  193562 |
|       8        |  193547 |
|       8        |  193537 |
|       8        |  193532 |
|       8        |  193523 |
|       8        |  193507 |
|       8        |  193500 |
|       8        |  193467 |
|       8        |  193446 |
|       8        |  193443 |
|       8        |  193429 |
|       8        |  193363 |
|       8        |  193349 |
|       8        |  193347 |
|       8        |  193329 |
|       8        |  193328 |
|       8        |  193296 |
|       8        |  193285 |
|       8        |  193257 |
|       8        |  193242 |
|       8        |  193182 |
|       8        |  193172 |
|       8        |  193168 |
|       8        |  193150 |
|       8        |  193140 |
|       8        |  193131 |
|       8        |  193104 |
|       8        |  193077 |
|       8        |  193074 |
|       8        |  193047 |
|       8        |  193026 |
|       8        |  192995 |
|       8        |  192989 |
|       8        |  192905 |
|       8        |  192898 |
|       8        |  192862 |
|       8        |  192860 |
|       8        |  192842 |
|       8        |  192828 |
|       8        |  192795 |
|       8        |  192789 |
|       8        |  192763 |
|       8        |  192761 |
|       8        |  192758 |
|       8        |  192755 |
|       8        |  192638 |
|       8        |  192624 |
|       8        |  192601 |
|       8        |  192563 |
|       8        |  192553 |
|       8        |  192549 |
|       8        |  192543 |
|       8        |  192536 |
|       8        |  192521 |
|       8        |  192502 |
|       8        |  192495 |
|       8        |  192492 |
|       8        |  192490 |
|       8        |  192427 |
|       8        |  192425 |
|       8        |  192407 |
|       8        |  192393 |
|       8        |  192386 |
|       8        |  192379 |
|       8        |  192346 |
|       8        |  192275 |
|       8        |  192274 |
|       8        |  192256 |
|       8        |  192188 |
|       8        |  192171 |
|       8        |  192170 |
|       8        |  192168 |
|       8        |  192153 |
|       8        |  192137 |
|       8        |  192111 |
|       8        |  192110 |
|       8        |  192033 |
|       8        |  192007 |
|       8        |  191965 |
|       8        |  191958 |
|       8        |  191909 |
|       8        |  191900 |
|       8        |  191896 |
|       8        |  191840 |
|       8        |  191823 |
|       8        |  191790 |
|       8        |  191779 |
|       8        |  191733 |
|       8        |  191718 |
|       8        |  191714 |
|       8        |  191683 |
|       8        |  191651 |
|       8        |  191635 |
|       8        |  191631 |
|       8        |  191624 |
|       8        |  191594 |
|       8        |  191564 |
|       8        |  191524 |
|       8        |  191496 |
|       8        |  191493 |
|       8        |  191444 |
|       8        |  191435 |
|       8        |  191413 |
|       8        |  191395 |
|       8        |  191389 |
|       8        |  191376 |
|       8        |  191371 |
|       8        |  191370 |
|       8        |  191355 |
|       8        |  191336 |
|       8        |  191317 |
|       7        |  195501 |
|       7        |  195498 |
|       7        |  195495 |
|       7        |  195488 |
|       7        |  195485 |
|       7        |  195483 |
|       7        |  195482 |
|       7        |  195473 |
|       7        |  195469 |
|       7        |  195464 |
|       7        |  195458 |
|       7        |  195441 |
|       7        |  195434 |
|       7        |  195426 |
|       7        |  195420 |
|       7        |  195416 |
|       7        |  195396 |
|       7        |  195382 |
|       7        |  195348 |
|       7        |  195343 |
|       7        |  195328 |
|       7        |  195320 |
|       7        |  195301 |
|       7        |  195297 |
|       7        |  195288 |
|       7        |  195275 |
|       7        |  195270 |
|       7        |  195266 |
|       7        |  195263 |
|       7        |  195261 |
|       7        |  195258 |
|       7        |  195257 |
|       7        |  195255 |
|       7        |  195246 |
|       7        |  195245 |
|       7        |  195242 |
|       7        |  195239 |
|       7        |  195226 |
|       7        |  195205 |
|       7        |  195193 |
|       7        |  195185 |
|       7        |  195181 |
|       7        |  195174 |
|       7        |  195173 |
|       7        |  195159 |
|       7        |  195156 |
|       7        |  195151 |
|       7        |  195130 |
|       7        |  195113 |
|       7        |  195110 |
|       7        |  195108 |
|       7        |  195103 |
|       7        |  195098 |
|       7        |  195087 |
|       7        |  195081 |
|       7        |  195040 |
|       7        |  195030 |
|       7        |  195028 |
|       7        |  195024 |
|       7        |  195014 |
|       7        |  195010 |
|       7        |  195008 |
|       7        |  195004 |
|       7        |  194996 |
|       7        |  194973 |
|       7        |  194939 |
|       7        |  194935 |
|       7        |  194929 |
|       7        |  194919 |
|       7        |  194907 |
|       7        |  194904 |
|       7        |  194897 |
|       7        |  194880 |
|       7        |  194869 |
|       7        |  194854 |
|       7        |  194850 |
|       7        |  194840 |
|       7        |  194813 |
|       7        |  194806 |
|       7        |  194803 |
|       7        |  194772 |
|       7        |  194770 |
|       7        |  194769 |
|       7        |  194766 |
|       7        |  194761 |
|       7        |  194758 |
|       7        |  194743 |
|       7        |  194735 |
|       7        |  194718 |
|       7        |  194717 |
|       7        |  194707 |
|       7        |  194700 |
|       7        |  194676 |
|       7        |  194663 |
|       7        |  194643 |
|       7        |  194636 |
|       7        |  194614 |
|       7        |  194596 |
|       7        |  194595 |
|       7        |  194563 |
|       7        |  194557 |
|       7        |  194551 |
|       7        |  194546 |
|       7        |  194541 |
|       7        |  194492 |
|       7        |  194484 |
|       7        |  194480 |
|       7        |  194478 |
|       7        |  194467 |
|       7        |  194447 |
|       7        |  194435 |
|       7        |  194421 |
|       7        |  194420 |
|       7        |  194406 |
|       7        |  194404 |
|       7        |  194386 |
|       7        |  194378 |
|       7        |  194367 |
|       7        |  194353 |
|       7        |  194349 |
|       7        |  194321 |
|       7        |  194319 |
|       7        |  194314 |
|       7        |  194291 |
|       7        |  194290 |
|       7        |  194263 |
|       7        |  194240 |
|       7        |  194227 |
|       7        |  194193 |
|       7        |  194181 |
|       7        |  194159 |
|       7        |  194136 |
|       7        |  194122 |
|       7        |  194120 |
|       7        |  194118 |
|       7        |  194097 |
|       7        |  194070 |
|       7        |  194068 |
|       7        |  194064 |
|       7        |  194039 |
|       7        |  194035 |
|       7        |  194030 |
|       7        |  194027 |
|       7        |  194025 |
|       7        |  193969 |
|       7        |  193961 |
|       7        |  193960 |
|       7        |  193953 |
|       7        |  193944 |
|       7        |  193942 |
|       7        |  193939 |
|       7        |  193922 |
|       7        |  193920 |
|       7        |  193903 |
|       7        |  193875 |
|       7        |  193874 |
|       7        |  193836 |
|       7        |  193832 |
|       7        |  193816 |
|       7        |  193811 |
|       7        |  193809 |
|       7        |  193799 |
|       7        |  193792 |
|       7        |  193784 |
|       7        |  193783 |
|       7        |  193745 |
|       7        |  193723 |
|       7        |  193720 |
|       7        |  193719 |
|       7        |  193713 |
|       7        |  193690 |
|       7        |  193675 |
|       7        |  193643 |
|       7        |  193627 |
|       7        |  193613 |
|       7        |  193605 |
|       7        |  193604 |
|       7        |  193600 |
|       7        |  193581 |
|       7        |  193565 |
|       7        |  193563 |
|       7        |  193557 |
|       7        |  193553 |
|       7        |  193533 |
|       7        |  193529 |
|       7        |  193497 |
|       7        |  193470 |
|       7        |  193466 |
|       7        |  193453 |
|       7        |  193413 |
|       7        |  193389 |
|       7        |  193370 |
|       7        |  193366 |
|       7        |  193365 |
|       7        |  193360 |
|       7        |  193359 |
|       7        |  193352 |
|       7        |  193348 |
|       7        |  193345 |
|       7        |  193341 |
|       7        |  193302 |
|       7        |  193284 |
|       7        |  193278 |
|       7        |  193273 |
|       7        |  193262 |
|       7        |  193232 |
|       7        |  193223 |
|       7        |  193222 |
|       7        |  193208 |
|       7        |  193204 |
|       7        |  193203 |
|       7        |  193202 |
|       7        |  193181 |
|       7        |  193173 |
|       7        |  193135 |
|       7        |  193124 |
|       7        |  193110 |
|       7        |  193107 |
|       7        |  193092 |
|       7        |  193090 |
|       7        |  193065 |
|       7        |  193059 |
|       7        |  193034 |
|       7        |  193008 |
|       7        |  192999 |
|       7        |  192996 |
|       7        |  192993 |
|       7        |  192992 |
|       7        |  192975 |
|       7        |  192972 |
|       7        |  192970 |
|       7        |  192969 |
|       7        |  192958 |
|       7        |  192947 |
|       7        |  192944 |
|       7        |  192916 |
|       7        |  192913 |
|       7        |  192906 |
|       7        |  192903 |
|       7        |  192902 |
|       7        |  192899 |
|       7        |  192896 |
|       7        |  192880 |
|       7        |  192867 |
|       7        |  192845 |
|       7        |  192840 |
|       7        |  192839 |
|       7        |  192834 |
|       7        |  192812 |
|       7        |  192809 |
|       7        |  192801 |
|       7        |  192794 |
|       7        |  192784 |
|       7        |  192775 |
|       7        |  192737 |
|       7        |  192735 |
|       7        |  192729 |
|       7        |  192724 |
|       7        |  192714 |
|       7        |  192700 |
|       7        |  192692 |
|       7        |  192690 |
|       7        |  192687 |
|       7        |  192666 |
|       7        |  192660 |
|       7        |  192647 |
|       7        |  192610 |
|       7        |  192572 |
|       7        |  192568 |
|       7        |  192556 |
|       7        |  192554 |
|       7        |  192547 |
|       7        |  192542 |
|       7        |  192539 |
|       7        |  192533 |
|       7        |  192493 |
|       7        |  192487 |
|       7        |  192484 |
|       7        |  192475 |
|       7        |  192469 |
|       7        |  192450 |
|       7        |  192448 |
|       7        |  192439 |
|       7        |  192424 |
|       7        |  192401 |
|       7        |  192366 |
|       7        |  192362 |
|       7        |  192357 |
|       7        |  192350 |
|       7        |  192311 |
|       7        |  192305 |
|       7        |  192304 |
|       7        |  192298 |
|       7        |  192288 |
|       7        |  192249 |
|       7        |  192235 |
|       7        |  192226 |
|       7        |  192184 |
|       7        |  192173 |
|       7        |  192169 |
|       7        |  192165 |
|       7        |  192162 |
|       7        |  192149 |
|       7        |  192146 |
|       7        |  192140 |
|       7        |  192135 |
|       7        |  192132 |
|       7        |  192129 |
|       7        |  192126 |
|       7        |  192124 |
|       7        |  192119 |
|       7        |  192112 |
|       7        |  192093 |
|       7        |  192085 |
|       7        |  192079 |
|       7        |  192066 |
|       7        |  192062 |
|       7        |  192055 |
|       7        |  192051 |
|       7        |  192042 |
|       7        |  192041 |
|       7        |  192022 |
|       7        |  192020 |
|       7        |  192012 |
|       7        |  191999 |
|       7        |  191989 |
|       7        |  191968 |
|       7        |  191963 |
|       7        |  191946 |
|       7        |  191944 |
|       7        |  191939 |
|       7        |  191937 |
|       7        |  191931 |
|       7        |  191926 |
|       7        |  191913 |
|       7        |  191889 |
|       7        |  191877 |
|       7        |  191875 |
|       7        |  191872 |
|       7        |  191871 |
|       7        |  191868 |
|       7        |  191864 |
|       7        |  191832 |
|       7        |  191826 |
|       7        |  191814 |
|       7        |  191812 |
|       7        |  191742 |

In [ ]:
# 10
%%sql
select ProductName,
       Color,
       SalePrice
from sale
where Color='Green' and
      SalePrice<20
order by SalePrice desc
limit 10
;

Running query in 'sqlite:///sales.db'

+---------------------------------+-------+-----------+
|           ProductName           | Color | SalePrice |
+---------------------------------+-------+-----------+
|            knight lo            | Green |   19.99   |
|            knight lo            | Green |   19.39   |
| wmns solarsoft thong ii sandals | Green |   16.99   |
|    jayda sandal wedge w/print   | Green |   16.82   |
| wmns solarsoft thong ii sandals | Green |   16.48   |
| wmns solarsoft thong ii sandals | Green |   15.97   |
| wmns solarsoft thong ii sandals | Green |   15.97   |
| wmns solarsoft thong ii sandals | Green |    15.8   |
| wmns solarsoft thong ii sandals | Green |   15.46   |
| wmns solarsoft thong ii sandals | Green |   15.29   |
+---------------------------------+-------+-----------+

In [ ]:
# 11
%%sql
select ProductName,
       SalePrice
from sale
where SalePrice>=100 and
      SalePrice<=150
order by SalePrice desc
limit 10
;

Running query in 'sqlite:///sales.db'

+-----------------------------------------------------------+-----------+
|                        ProductName                        | SalePrice |
+-----------------------------------------------------------+-----------+
|                      jack frost boots                     |   150.0   |
|                 reebok pump fury sneakers                 |   149.99  |
|                      6" premium boots                     |   149.99  |
| basquiat : curated by swizz beatz pump omni lite sneakers |   149.99  |
| basquiat : curated by swizz beatz pump omni lite sneakers |   148.49  |
|                      jack frost boots                     |   147.0   |
|                      jack frost boots                     |   147.0   |
|                      jack frost boots                     |   147.0   |
|                 reebok pump fury sneakers                 |   146.99  |
| basquiat : curated by swizz beatz pump omni lite sneakers |   146.99  |
+-----------------------------------------------------------+-----------+

In [ ]:
%%sql
select *
from sale
limit 3
;

Running query in 'sqlite:///sales.db'

+-------+------------+------------+-----------+----------+---------+---------------------------------+----------+-------+-----------+----------+------------------+
| RowNO |  SaleDate  | CustomerID | FirstName | LastName | OrderID |           ProductName           | Category | Color | SalePrice | Quantity | ManufacturerName |
+-------+------------+------------+-----------+----------+---------+---------------------------------+----------+-------+-----------+----------+------------------+
|   1   | 12/31/2013 |    1134    |  Xiafeng  |   Wang   |  191228 |    be mini vulc wns sneakers    | sneakers | Black |   57.65   |    1     |       Puma       |
|   2   | 12/31/2013 |    1134    |  Xiafeng  |   Wang   |  191228 |          liga sneakers          | sneakers |  Blue |   63.05   |    1     |       Puma       |
|   3   | 12/31/2013 |    1134    |  Xiafeng  |   Wang   |  191228 | nike air max correlate sneakers | sneakers | Black |    96.6   |    1     |       Nike       |
+-------+------------+------------+-----------+----------+---------+---------------------------------+----------+-------+-----------+----------+------------------+